<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.WellInfoMapper">
  <resultMap id="BaseResultMap" type="server.db.primary.model.WellInfo">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="WELL_NAME" jdbcType="VARCHAR" property="wellName" />
    <result column="WELL_NAME_ALIAS" jdbcType="VARCHAR" property="wellNameAlias" />
    <result column="AREA_ID" jdbcType="DECIMAL" property="areaId" />
    <result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
    <result column="STATION_ID" jdbcType="DECIMAL" property="stationId" />
    <result column="STATION_NAME" jdbcType="VARCHAR" property="stationName" />
    <result column="WELL_LONG" jdbcType="DECIMAL" property="wellLong" />
    <result column="WELL_LAT" jdbcType="DECIMAL" property="wellLat" />
    <result column="W_PROPERTY" jdbcType="DECIMAL" property="wProperty" />
    <result column="W_PROPERTY_NAME" jdbcType="VARCHAR" property="wPropertyName" />
    <result column="WELL_TYPE" jdbcType="DECIMAL" property="wellType" />
    <result column="WELL_TYPE_NAME" jdbcType="VARCHAR" property="wellTypeName" />
    <result column="PUMP_TYPE" jdbcType="DECIMAL" property="pumpType" />
    <result column="PUMP_TYPE_NAME" jdbcType="VARCHAR" property="pumpTypeName" />
    <result column="WELL_ICO" jdbcType="VARCHAR" property="wellIco" />
    <result column="COMM_MARK" jdbcType="DECIMAL" property="commMark" />
    <result column="RTU_TYPE" jdbcType="DECIMAL" property="rtuType" />
    <result column="RTU_IPADDR" jdbcType="VARCHAR" property="rtuIpaddr" />
    <result column="WELL_NUM" jdbcType="DECIMAL" property="wellNum" />
    <result column="INVESTMENT_DATE" jdbcType="TIMESTAMP" property="investmentDate" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="WELL_STROKE" jdbcType="DECIMAL" property="wellStroke" />
    <result column="V_MARK" jdbcType="DECIMAL" property="vMark" />
    <result column="V_IPADDR" jdbcType="VARCHAR" property="vIpaddr" />
    <result column="ELEC_BASE_V" jdbcType="DECIMAL" property="elecBaseV" />
    <result column="AUTO_MARK" jdbcType="DECIMAL" property="autoMark" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="MARK" jdbcType="DECIMAL" property="mark" />
    <result column="STIME" jdbcType="TIMESTAMP" property="stime" />
    <result column="V_VIRTUAL_PORT" jdbcType="DECIMAL" property="vVirtualPort" />
    <result column="COMM_TYPE" jdbcType="DECIMAL" property="commType" />
    <result column="COMM_TYPE_NAME" jdbcType="VARCHAR" property="commTypeName" />
    <result column="BLOCK_ID" jdbcType="DECIMAL" property="blockId" />
    <result column="BLOCK_NAME" jdbcType="VARCHAR" property="blockName" />
    <result column="OIL_STORAGE_TYPE" jdbcType="DECIMAL" property="oilStorageType" />
    <result column="OIL_STORAGE_NAME" jdbcType="VARCHAR" property="oilStorageName" />
    <result column="RUN_STATE" jdbcType="VARCHAR" property="runState" />
    <result column="A11_CODE" jdbcType="VARCHAR" property="a11Code" />
    <result column="A11_CODE_FATHER" jdbcType="VARCHAR" property="a11CodeFather" />
    <result column="WELL_ADDR" jdbcType="DECIMAL" property="wellAddr" />
    <result column="ELEC_ADDR" jdbcType="DECIMAL" property="elecAddr" />
    <result column="LOAD_ADDR" jdbcType="DECIMAL" property="loadAddr" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, WELL_NAME, WELL_NAME_ALIAS, AREA_ID, AREA_NAME, STATION_ID, STATION_NAME, WELL_LONG, 
    WELL_LAT, W_PROPERTY, W_PROPERTY_NAME, WELL_TYPE, WELL_TYPE_NAME, PUMP_TYPE, PUMP_TYPE_NAME, 
    WELL_ICO, COMM_MARK, RTU_TYPE, RTU_IPADDR, WELL_NUM, INVESTMENT_DATE, GROUP_NAME, 
    WELL_STROKE, V_MARK, V_IPADDR, ELEC_BASE_V, AUTO_MARK, REMARK, MARK, STIME, V_VIRTUAL_PORT, 
    COMM_TYPE, COMM_TYPE_NAME, BLOCK_ID, BLOCK_NAME, OIL_STORAGE_TYPE, OIL_STORAGE_NAME, 
    RUN_STATE, A11_CODE, A11_CODE_FATHER, WELL_ADDR, ELEC_ADDR, LOAD_ADDR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OILDB.WELL_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from OILDB.WELL_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="server.db.primary.model.WellInfo">
    insert into OILDB.WELL_INFO (ID, WELL_NAME, WELL_NAME_ALIAS, 
      AREA_ID, AREA_NAME, STATION_ID, 
      STATION_NAME, WELL_LONG, WELL_LAT, 
      W_PROPERTY, W_PROPERTY_NAME, WELL_TYPE, 
      WELL_TYPE_NAME, PUMP_TYPE, PUMP_TYPE_NAME, 
      WELL_ICO, COMM_MARK, RTU_TYPE, 
      RTU_IPADDR, WELL_NUM, INVESTMENT_DATE, 
      GROUP_NAME, WELL_STROKE, V_MARK, 
      V_IPADDR, ELEC_BASE_V, AUTO_MARK, 
      REMARK, MARK, STIME, 
      V_VIRTUAL_PORT, COMM_TYPE, COMM_TYPE_NAME, 
      BLOCK_ID, BLOCK_NAME, OIL_STORAGE_TYPE, 
      OIL_STORAGE_NAME, RUN_STATE, A11_CODE, 
      A11_CODE_FATHER, WELL_ADDR, ELEC_ADDR, 
      LOAD_ADDR)
    values (#{id,jdbcType=DECIMAL}, #{wellName,jdbcType=VARCHAR}, #{wellNameAlias,jdbcType=VARCHAR}, 
      #{areaId,jdbcType=DECIMAL}, #{areaName,jdbcType=VARCHAR}, #{stationId,jdbcType=DECIMAL}, 
      #{stationName,jdbcType=VARCHAR}, #{wellLong,jdbcType=DECIMAL}, #{wellLat,jdbcType=DECIMAL}, 
      #{wProperty,jdbcType=DECIMAL}, #{wPropertyName,jdbcType=VARCHAR}, #{wellType,jdbcType=DECIMAL}, 
      #{wellTypeName,jdbcType=VARCHAR}, #{pumpType,jdbcType=DECIMAL}, #{pumpTypeName,jdbcType=VARCHAR}, 
      #{wellIco,jdbcType=VARCHAR}, #{commMark,jdbcType=DECIMAL}, #{rtuType,jdbcType=DECIMAL}, 
      #{rtuIpaddr,jdbcType=VARCHAR}, #{wellNum,jdbcType=DECIMAL}, #{investmentDate,jdbcType=TIMESTAMP}, 
      #{groupName,jdbcType=VARCHAR}, #{wellStroke,jdbcType=DECIMAL}, #{vMark,jdbcType=DECIMAL}, 
      #{vIpaddr,jdbcType=VARCHAR}, #{elecBaseV,jdbcType=DECIMAL}, #{autoMark,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{mark,jdbcType=DECIMAL}, #{stime,jdbcType=TIMESTAMP}, 
      #{vVirtualPort,jdbcType=DECIMAL}, #{commType,jdbcType=DECIMAL}, #{commTypeName,jdbcType=VARCHAR}, 
      #{blockId,jdbcType=DECIMAL}, #{blockName,jdbcType=VARCHAR}, #{oilStorageType,jdbcType=DECIMAL}, 
      #{oilStorageName,jdbcType=VARCHAR}, #{runState,jdbcType=VARCHAR}, #{a11Code,jdbcType=VARCHAR}, 
      #{a11CodeFather,jdbcType=VARCHAR}, #{wellAddr,jdbcType=DECIMAL}, #{elecAddr,jdbcType=DECIMAL}, 
      #{loadAddr,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="server.db.primary.model.WellInfo">
    insert into OILDB.WELL_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="wellName != null">
        WELL_NAME,
      </if>
      <if test="wellNameAlias != null">
        WELL_NAME_ALIAS,
      </if>
      <if test="areaId != null">
        AREA_ID,
      </if>
      <if test="areaName != null">
        AREA_NAME,
      </if>
      <if test="stationId != null">
        STATION_ID,
      </if>
      <if test="stationName != null">
        STATION_NAME,
      </if>
      <if test="wellLong != null">
        WELL_LONG,
      </if>
      <if test="wellLat != null">
        WELL_LAT,
      </if>
      <if test="wProperty != null">
        W_PROPERTY,
      </if>
      <if test="wPropertyName != null">
        W_PROPERTY_NAME,
      </if>
      <if test="wellType != null">
        WELL_TYPE,
      </if>
      <if test="wellTypeName != null">
        WELL_TYPE_NAME,
      </if>
      <if test="pumpType != null">
        PUMP_TYPE,
      </if>
      <if test="pumpTypeName != null">
        PUMP_TYPE_NAME,
      </if>
      <if test="wellIco != null">
        WELL_ICO,
      </if>
      <if test="commMark != null">
        COMM_MARK,
      </if>
      <if test="rtuType != null">
        RTU_TYPE,
      </if>
      <if test="rtuIpaddr != null">
        RTU_IPADDR,
      </if>
      <if test="wellNum != null">
        WELL_NUM,
      </if>
      <if test="investmentDate != null">
        INVESTMENT_DATE,
      </if>
      <if test="groupName != null">
        GROUP_NAME,
      </if>
      <if test="wellStroke != null">
        WELL_STROKE,
      </if>
      <if test="vMark != null">
        V_MARK,
      </if>
      <if test="vIpaddr != null">
        V_IPADDR,
      </if>
      <if test="elecBaseV != null">
        ELEC_BASE_V,
      </if>
      <if test="autoMark != null">
        AUTO_MARK,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="mark != null">
        MARK,
      </if>
      <if test="stime != null">
        STIME,
      </if>
      <if test="vVirtualPort != null">
        V_VIRTUAL_PORT,
      </if>
      <if test="commType != null">
        COMM_TYPE,
      </if>
      <if test="commTypeName != null">
        COMM_TYPE_NAME,
      </if>
      <if test="blockId != null">
        BLOCK_ID,
      </if>
      <if test="blockName != null">
        BLOCK_NAME,
      </if>
      <if test="oilStorageType != null">
        OIL_STORAGE_TYPE,
      </if>
      <if test="oilStorageName != null">
        OIL_STORAGE_NAME,
      </if>
      <if test="runState != null">
        RUN_STATE,
      </if>
      <if test="a11Code != null">
        A11_CODE,
      </if>
      <if test="a11CodeFather != null">
        A11_CODE_FATHER,
      </if>
      <if test="wellAddr != null">
        WELL_ADDR,
      </if>
      <if test="elecAddr != null">
        ELEC_ADDR,
      </if>
      <if test="loadAddr != null">
        LOAD_ADDR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="wellName != null">
        #{wellName,jdbcType=VARCHAR},
      </if>
      <if test="wellNameAlias != null">
        #{wellNameAlias,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=DECIMAL},
      </if>
      <if test="areaName != null">
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null">
        #{stationId,jdbcType=DECIMAL},
      </if>
      <if test="stationName != null">
        #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="wellLong != null">
        #{wellLong,jdbcType=DECIMAL},
      </if>
      <if test="wellLat != null">
        #{wellLat,jdbcType=DECIMAL},
      </if>
      <if test="wProperty != null">
        #{wProperty,jdbcType=DECIMAL},
      </if>
      <if test="wPropertyName != null">
        #{wPropertyName,jdbcType=VARCHAR},
      </if>
      <if test="wellType != null">
        #{wellType,jdbcType=DECIMAL},
      </if>
      <if test="wellTypeName != null">
        #{wellTypeName,jdbcType=VARCHAR},
      </if>
      <if test="pumpType != null">
        #{pumpType,jdbcType=DECIMAL},
      </if>
      <if test="pumpTypeName != null">
        #{pumpTypeName,jdbcType=VARCHAR},
      </if>
      <if test="wellIco != null">
        #{wellIco,jdbcType=VARCHAR},
      </if>
      <if test="commMark != null">
        #{commMark,jdbcType=DECIMAL},
      </if>
      <if test="rtuType != null">
        #{rtuType,jdbcType=DECIMAL},
      </if>
      <if test="rtuIpaddr != null">
        #{rtuIpaddr,jdbcType=VARCHAR},
      </if>
      <if test="wellNum != null">
        #{wellNum,jdbcType=DECIMAL},
      </if>
      <if test="investmentDate != null">
        #{investmentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="wellStroke != null">
        #{wellStroke,jdbcType=DECIMAL},
      </if>
      <if test="vMark != null">
        #{vMark,jdbcType=DECIMAL},
      </if>
      <if test="vIpaddr != null">
        #{vIpaddr,jdbcType=VARCHAR},
      </if>
      <if test="elecBaseV != null">
        #{elecBaseV,jdbcType=DECIMAL},
      </if>
      <if test="autoMark != null">
        #{autoMark,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=DECIMAL},
      </if>
      <if test="stime != null">
        #{stime,jdbcType=TIMESTAMP},
      </if>
      <if test="vVirtualPort != null">
        #{vVirtualPort,jdbcType=DECIMAL},
      </if>
      <if test="commType != null">
        #{commType,jdbcType=DECIMAL},
      </if>
      <if test="commTypeName != null">
        #{commTypeName,jdbcType=VARCHAR},
      </if>
      <if test="blockId != null">
        #{blockId,jdbcType=DECIMAL},
      </if>
      <if test="blockName != null">
        #{blockName,jdbcType=VARCHAR},
      </if>
      <if test="oilStorageType != null">
        #{oilStorageType,jdbcType=DECIMAL},
      </if>
      <if test="oilStorageName != null">
        #{oilStorageName,jdbcType=VARCHAR},
      </if>
      <if test="runState != null">
        #{runState,jdbcType=VARCHAR},
      </if>
      <if test="a11Code != null">
        #{a11Code,jdbcType=VARCHAR},
      </if>
      <if test="a11CodeFather != null">
        #{a11CodeFather,jdbcType=VARCHAR},
      </if>
      <if test="wellAddr != null">
        #{wellAddr,jdbcType=DECIMAL},
      </if>
      <if test="elecAddr != null">
        #{elecAddr,jdbcType=DECIMAL},
      </if>
      <if test="loadAddr != null">
        #{loadAddr,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="server.db.primary.model.WellInfo">
    update OILDB.WELL_INFO
    <set>
      <if test="wellName != null">
        WELL_NAME = #{wellName,jdbcType=VARCHAR},
      </if>
      <if test="wellNameAlias != null">
        WELL_NAME_ALIAS = #{wellNameAlias,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        AREA_ID = #{areaId,jdbcType=DECIMAL},
      </if>
      <if test="areaName != null">
        AREA_NAME = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null">
        STATION_ID = #{stationId,jdbcType=DECIMAL},
      </if>
      <if test="stationName != null">
        STATION_NAME = #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="wellLong != null">
        WELL_LONG = #{wellLong,jdbcType=DECIMAL},
      </if>
      <if test="wellLat != null">
        WELL_LAT = #{wellLat,jdbcType=DECIMAL},
      </if>
      <if test="wProperty != null">
        W_PROPERTY = #{wProperty,jdbcType=DECIMAL},
      </if>
      <if test="wPropertyName != null">
        W_PROPERTY_NAME = #{wPropertyName,jdbcType=VARCHAR},
      </if>
      <if test="wellType != null">
        WELL_TYPE = #{wellType,jdbcType=DECIMAL},
      </if>
      <if test="wellTypeName != null">
        WELL_TYPE_NAME = #{wellTypeName,jdbcType=VARCHAR},
      </if>
      <if test="pumpType != null">
        PUMP_TYPE = #{pumpType,jdbcType=DECIMAL},
      </if>
      <if test="pumpTypeName != null">
        PUMP_TYPE_NAME = #{pumpTypeName,jdbcType=VARCHAR},
      </if>
      <if test="wellIco != null">
        WELL_ICO = #{wellIco,jdbcType=VARCHAR},
      </if>
      <if test="commMark != null">
        COMM_MARK = #{commMark,jdbcType=DECIMAL},
      </if>
      <if test="rtuType != null">
        RTU_TYPE = #{rtuType,jdbcType=DECIMAL},
      </if>
      <if test="rtuIpaddr != null">
        RTU_IPADDR = #{rtuIpaddr,jdbcType=VARCHAR},
      </if>
      <if test="wellNum != null">
        WELL_NUM = #{wellNum,jdbcType=DECIMAL},
      </if>
      <if test="investmentDate != null">
        INVESTMENT_DATE = #{investmentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="groupName != null">
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="wellStroke != null">
        WELL_STROKE = #{wellStroke,jdbcType=DECIMAL},
      </if>
      <if test="vMark != null">
        V_MARK = #{vMark,jdbcType=DECIMAL},
      </if>
      <if test="vIpaddr != null">
        V_IPADDR = #{vIpaddr,jdbcType=VARCHAR},
      </if>
      <if test="elecBaseV != null">
        ELEC_BASE_V = #{elecBaseV,jdbcType=DECIMAL},
      </if>
      <if test="autoMark != null">
        AUTO_MARK = #{autoMark,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        MARK = #{mark,jdbcType=DECIMAL},
      </if>
      <if test="stime != null">
        STIME = #{stime,jdbcType=TIMESTAMP},
      </if>
      <if test="vVirtualPort != null">
        V_VIRTUAL_PORT = #{vVirtualPort,jdbcType=DECIMAL},
      </if>
      <if test="commType != null">
        COMM_TYPE = #{commType,jdbcType=DECIMAL},
      </if>
      <if test="commTypeName != null">
        COMM_TYPE_NAME = #{commTypeName,jdbcType=VARCHAR},
      </if>
      <if test="blockId != null">
        BLOCK_ID = #{blockId,jdbcType=DECIMAL},
      </if>
      <if test="blockName != null">
        BLOCK_NAME = #{blockName,jdbcType=VARCHAR},
      </if>
      <if test="oilStorageType != null">
        OIL_STORAGE_TYPE = #{oilStorageType,jdbcType=DECIMAL},
      </if>
      <if test="oilStorageName != null">
        OIL_STORAGE_NAME = #{oilStorageName,jdbcType=VARCHAR},
      </if>
      <if test="runState != null">
        RUN_STATE = #{runState,jdbcType=VARCHAR},
      </if>
      <if test="a11Code != null">
        A11_CODE = #{a11Code,jdbcType=VARCHAR},
      </if>
      <if test="a11CodeFather != null">
        A11_CODE_FATHER = #{a11CodeFather,jdbcType=VARCHAR},
      </if>
      <if test="wellAddr != null">
        WELL_ADDR = #{wellAddr,jdbcType=DECIMAL},
      </if>
      <if test="elecAddr != null">
        ELEC_ADDR = #{elecAddr,jdbcType=DECIMAL},
      </if>
      <if test="loadAddr != null">
        LOAD_ADDR = #{loadAddr,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="server.db.primary.model.WellInfo">
    update OILDB.WELL_INFO
    set WELL_NAME = #{wellName,jdbcType=VARCHAR},
      WELL_NAME_ALIAS = #{wellNameAlias,jdbcType=VARCHAR},
      AREA_ID = #{areaId,jdbcType=DECIMAL},
      AREA_NAME = #{areaName,jdbcType=VARCHAR},
      STATION_ID = #{stationId,jdbcType=DECIMAL},
      STATION_NAME = #{stationName,jdbcType=VARCHAR},
      WELL_LONG = #{wellLong,jdbcType=DECIMAL},
      WELL_LAT = #{wellLat,jdbcType=DECIMAL},
      W_PROPERTY = #{wProperty,jdbcType=DECIMAL},
      W_PROPERTY_NAME = #{wPropertyName,jdbcType=VARCHAR},
      WELL_TYPE = #{wellType,jdbcType=DECIMAL},
      WELL_TYPE_NAME = #{wellTypeName,jdbcType=VARCHAR},
      PUMP_TYPE = #{pumpType,jdbcType=DECIMAL},
      PUMP_TYPE_NAME = #{pumpTypeName,jdbcType=VARCHAR},
      WELL_ICO = #{wellIco,jdbcType=VARCHAR},
      COMM_MARK = #{commMark,jdbcType=DECIMAL},
      RTU_TYPE = #{rtuType,jdbcType=DECIMAL},
      RTU_IPADDR = #{rtuIpaddr,jdbcType=VARCHAR},
      WELL_NUM = #{wellNum,jdbcType=DECIMAL},
      INVESTMENT_DATE = #{investmentDate,jdbcType=TIMESTAMP},
      GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      WELL_STROKE = #{wellStroke,jdbcType=DECIMAL},
      V_MARK = #{vMark,jdbcType=DECIMAL},
      V_IPADDR = #{vIpaddr,jdbcType=VARCHAR},
      ELEC_BASE_V = #{elecBaseV,jdbcType=DECIMAL},
      AUTO_MARK = #{autoMark,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      MARK = #{mark,jdbcType=DECIMAL},
      STIME = #{stime,jdbcType=TIMESTAMP},
      V_VIRTUAL_PORT = #{vVirtualPort,jdbcType=DECIMAL},
      COMM_TYPE = #{commType,jdbcType=DECIMAL},
      COMM_TYPE_NAME = #{commTypeName,jdbcType=VARCHAR},
      BLOCK_ID = #{blockId,jdbcType=DECIMAL},
      BLOCK_NAME = #{blockName,jdbcType=VARCHAR},
      OIL_STORAGE_TYPE = #{oilStorageType,jdbcType=DECIMAL},
      OIL_STORAGE_NAME = #{oilStorageName,jdbcType=VARCHAR},
      RUN_STATE = #{runState,jdbcType=VARCHAR},
      A11_CODE = #{a11Code,jdbcType=VARCHAR},
      A11_CODE_FATHER = #{a11CodeFather,jdbcType=VARCHAR},
      WELL_ADDR = #{wellAddr,jdbcType=DECIMAL},
      ELEC_ADDR = #{elecAddr,jdbcType=DECIMAL},
      LOAD_ADDR = #{loadAddr,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectByStationId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    id,well_name,station_name,area_name
    from OILDB.WELL_info
    where Station_ID = #{stationId}
    and w_property=0 and mark=0 and auto_mark=0
    ORDER BY id
  </select>

  <select id="selectAllNotWarnConfig"  resultMap="BaseResultMap">
    select
    id,well_name
    from OILDB.WELL_info
    where id not in(
    select well_id from WARN_SYS_CONFIG where WELL_ID is not null
    union  select well_id from WARN_LIMIT_CONFIG where WELL_ID is not null
    union  select well_id from WARN_GT_CONFIG where WELL_ID is not null
    group by well_id
    )
    ORDER BY id
  </select>

  <select id="Count" resultType="java.lang.Integer" >
    select count(*) from OILDB.WELL_INFO
  </select>

</mapper>