<?xml version="1.0" encoding="UTF-8"?>
<!-- create by ice 2017-09-20 start -->
<configuration>

    <contextName>SpringBootLogback</contextName>
    <!--自定义日志格式-->
    <property name="CONSOLE" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %easyHighlight(%5.5level) --- [%15.15thread] %cyan(%-40.40logger{39}) : %msg%n"/>
    <!--设置系统日志目录  -->
    <springProperty scope="context" name="logging.file.name" source="logging.file.name"/>
    <appender name="CONSOLE_COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.github.common.config.log.format.EasyPatternLayout">
                <pattern>${CONSOLE}</pattern>
            </layout>
        </encoder>
    </appender>
    <!--logger没有设置appender，则本身不打印任何信息，additivity="true"将日志向上级传递，传给root进行实际的输出-->
    <logger name="com.github" level="debug" additivity="true"/>
    <root level="info">
        <!--控制台输出（彩色）-->
        <appender-ref ref="CONSOLE_COLOR"/>
    </root>
</configuration>

