<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!--spring整合mybatis后，配置文件由application中配置，此处可不做任何配置-->
    <settings>
        <!-- 二级缓存开启 -->
        <setting name="cacheEnabled" value="true" />
        <!--参数使用变量名，不使用序号-->
        <setting name="useActualParamName" value="true"/>
        <!--单次查询超时时长（秒）-->
        <setting name="defaultStatementTimeout" value="15"/>
    </settings>
</configuration>

