<?xml version="1.0" encoding="UTF-8"?>
<!--①xmlns="http://www.springframework.org/schema/beans"，默认命名空间：它没有空间名，用于Spring Bean的定义；-->
<!--②xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"，xsi命名空间：这个命名空间用于为每个文档中命名空间指定相应的Schema样式文件，是标准组织定义的标准命名空间。-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>
    <bean id="helloWorld" class="com.example.demo5event.HelloWorld">
        <property name="message" value="Hello World!"/>
    </bean>
    <bean id="cStartEventHandler" class="com.example.demo5event.defaultevent.CStartEventHandler"/>
    <bean id="cStopEventHandler" class="com.example.demo5event.defaultevent.CStopEventHandler"/>
    <bean id="cCloseEventHandler" class="com.example.demo5event.defaultevent.CCloseEventHandler"/>
    <bean id="cRefreshEventHandler" class="com.example.demo5event.defaultevent.CRefreshEventHandler"/>
    <bean id="customEventHandler" class="com.example.demo5event.customevent.CCustomEventHandler"/>
    <bean id="customEventPublisher" class="com.example.demo5event.customevent.CustomEventPublisher"/>
</beans>
