<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.sysoption.FunAuthObjMapper">
    <resultMap id="BaseResultMap" type="server.db.primary.model.sysoption.AuthObj">
        <result column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="OBJ_NO" jdbcType="VARCHAR" property="objNo"/>
        <result column="OBJ_NAME" jdbcType="VARCHAR" property="objName"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="LOGO_PNG" jdbcType="VARCHAR" property="logoPng"/>
        <result column="MARK" jdbcType="DECIMAL" property="mark"/>
        <result column="STIME" jdbcType="TIMESTAMP" property="stime"/>
        <result column="RTIME" jdbcType="TIMESTAMP" property="rtime"/>
        <collection property="stationInfoList" ofType="server.db.primary.model.sysoption.StationInfo">
            <id column="S_ID" jdbcType="DECIMAL" property="id"/>
            <result column="S_STATION_NAME" jdbcType="VARCHAR" property="stationName"/>
            <result column="S_STATION_NAME_ALIAS" jdbcType="VARCHAR" property="stationNameAlias"/>
            <result column="S_CO_ID" jdbcType="DECIMAL" property="coId"/>
            <result column="S_CO_NAME" jdbcType="VARCHAR" property="coName"/>
            <result column="S_AREA_ID" jdbcType="DECIMAL" property="areaId"/>
            <result column="S_AREA_NAME" jdbcType="VARCHAR" property="areaName"/>
            <result column="S_STATION_TYPE" jdbcType="DECIMAL" property="stationType"/>
            <result column="S_STATION_TYPE_NAME" jdbcType="VARCHAR" property="stationTypeName"/>
            <result column="S_STATION_LONG" jdbcType="DECIMAL" property="stationLong"/>
            <result column="S_STATION_LAT" jdbcType="DECIMAL" property="stationLat"/>
            <result column="S_AUTO_MARK" jdbcType="DECIMAL" property="autoMark"/>
            <result column="S_PLC_IPADDR" jdbcType="VARCHAR" property="plcIpaddr"/>
            <result column="S_V_MARK" jdbcType="DECIMAL" property="vMark"/>
            <result column="S_POINT_COUNT" jdbcType="DECIMAL" property="pointCount"/>
            <result column="S_OPC_TOPIC" jdbcType="VARCHAR" property="opcTopic"/>
            <result column="S_STATION_NUM" jdbcType="DECIMAL" property="stationNum"/>
            <result column="S_A11_CODE" jdbcType="VARCHAR" property="a11Code"/>
            <result column="S_A11_CODE_FATHER" jdbcType="VARCHAR" property="a11CodeFather"/>
            <result column="S_REMARK" jdbcType="VARCHAR" property="remark"/>
            <result column="S_MARK" jdbcType="DECIMAL" property="mark"/>
            <result column="S_STIME" jdbcType="TIMESTAMP" property="stime"/>
        </collection>
        <collection property="areaInfoList" ofType="server.db.primary.model.sysoption.AreaInfo">
            <id column="A_ID" jdbcType="DECIMAL" property="id"/>
            <result column="A_AREA_NAME" jdbcType="VARCHAR" property="areaName"/>
            <result column="A_AREA_NAME_ALIAS" jdbcType="VARCHAR" property="areaNameAlias"/>
            <result column="A_CO_ID" jdbcType="DECIMAL" property="coId"/>
            <result column="A_CO_NAME" jdbcType="VARCHAR" property="coName"/>
            <result column="A_A11_CODE" jdbcType="VARCHAR" property="a11Code"/>
            <result column="A_A11_CODE_FATHER" jdbcType="VARCHAR" property="a11CodeFather"/>
            <result column="A_REMARK" jdbcType="VARCHAR" property="remark"/>
            <result column="A_MARK" jdbcType="DECIMAL" property="mark"/>
            <result column="A_STIME" jdbcType="TIMESTAMP" property="stime"/>
        </collection>
    </resultMap>

    <select id="selectObjTableOnebyId" resultMap="BaseResultMap">
        select
            AUTH_OBJ.ID,
            AUTH_OBJ.OBJ_NO,
            AUTH_OBJ.OBJ_NAME,
            AUTH_OBJ.REMARK,
            AUTH_OBJ.LOGO_PNG,
            AUTH_OBJ.MARK,
            AUTH_OBJ.STIME,
            AUTH_OBJ.RTIME,
            AREA_INFO.ID    A_ID,
            STATION_INFO.ID S_ID
        --             AREA_INFO.AREA_NAME,
        --             AREA_INFO.AREA_NAME_ALIAS,
        --             AREA_INFO.CO_ID,
        --             AREA_INFO.CO_NAME,
        --             AREA_INFO.A11_CODE,
        --             AREA_INFO.A11_CODE_FATHER,
        --             AREA_INFO.REMARK,
        --             AREA_INFO.MARK,
        --             AREA_INFO.STIME
        from AUTH_OBJ
            left join AUTH_OBJ_STATION on AUTH_OBJ.ID = AUTH_OBJ_STATION.OBJ_ID
            left join AREA_INFO on AUTH_OBJ_STATION.STATION_ID = AREA_INFO.ID and AUTH_OBJ_STATION.STATION_TYPE = 2
            left join STATION_INFO on AUTH_OBJ_STATION.STATION_ID = STATION_INFO.ID and AUTH_OBJ_STATION.STATION_TYPE = 3
        where AUTH_OBJ.ID = #{id}
    </select>

    <select id="selectObjTable" resultMap="BaseResultMap">
        select
            AUTH_OBJ.ID,
            AUTH_OBJ.OBJ_NO,
            AUTH_OBJ.OBJ_NAME,
            AUTH_OBJ.REMARK,
            AUTH_OBJ.LOGO_PNG,
            AUTH_OBJ.MARK,
            AUTH_OBJ.STIME,
            AUTH_OBJ.RTIME,
            AREA_INFO.AREA_NAME       A_AREA_NAME,
            STATION_INFO.STATION_NAME S_STATION_NAME
        from AUTH_OBJ
            left join AUTH_OBJ_STATION on AUTH_OBJ.ID = AUTH_OBJ_STATION.OBJ_ID
            left join AREA_INFO on AUTH_OBJ_STATION.STATION_ID = AREA_INFO.ID and AUTH_OBJ_STATION.STATION_TYPE = 2
            left join STATION_INFO on AUTH_OBJ_STATION.STATION_ID = STATION_INFO.ID and AUTH_OBJ_STATION.STATION_TYPE = 3
    </select>
</mapper>