<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.sysoption.FunAuthGroupMapper">
    <resultMap id="BaseResultMap" type="server.db.primary.model.sysoption.AuthGroup">
        <result column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="GROUP_NO" jdbcType="VARCHAR" property="groupNo"/>
        <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName"/>
        <result column="GROUP_ROLE_ID" jdbcType="DECIMAL" property="groupRoleId"/>
        <result column="GROUP_ROLE_NO" jdbcType="VARCHAR" property="groupRoleNo"/>
        <result column="GROUP_ROLE_NAME" jdbcType="VARCHAR" property="groupRoleName"/>
        <result column="GROUP_OBJ_ID" jdbcType="DECIMAL" property="groupObjId"/>
        <result column="GROUP_OBJ_NO" jdbcType="VARCHAR" property="groupObjNo"/>
        <result column="GROUP_OBJ_NAME" jdbcType="VARCHAR" property="groupObjName"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="MARK" jdbcType="DECIMAL" property="mark"/>
        <result column="STIME" jdbcType="TIMESTAMP" property="stime"/>
        <result column="RTIME" jdbcType="TIMESTAMP" property="rtime"/>
        <association property="authRole" javaType="server.db.primary.model.sysoption.AuthRole">
            <result column="R_ID" jdbcType="DECIMAL" property="id"/>
            <result column="R_ROLE_NO" jdbcType="VARCHAR" property="roleNo"/>
            <result column="R_ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
            <result column="R_REMARK" jdbcType="VARCHAR" property="remark"/>
            <result column="R_ROLE_MARK" jdbcType="DECIMAL" property="roleMark"/>
            <result column="R_MARK" jdbcType="DECIMAL" property="mark"/>
            <result column="R_STIME" jdbcType="TIMESTAMP" property="stime"/>
            <result column="R_RTIME" jdbcType="TIMESTAMP" property="rtime"/>
        </association>
        <association property="authObj" javaType="server.db.primary.model.sysoption.AuthObj">
            <result column="O_ID" jdbcType="DECIMAL" property="id"/>
            <result column="O_OBJ_NO" jdbcType="VARCHAR" property="objNo"/>
            <result column="O_OBJ_NAME" jdbcType="VARCHAR" property="objName"/>
            <result column="O_REMARK" jdbcType="VARCHAR" property="remark"/>
            <result column="O_LOGO_PNG" jdbcType="VARCHAR" property="logoPng"/>
            <result column="O_MARK" jdbcType="DECIMAL" property="mark"/>
            <result column="O_STIME" jdbcType="TIMESTAMP" property="stime"/>
            <result column="O_RTIME" jdbcType="TIMESTAMP" property="rtime"/>
        </association>
    </resultMap>
    <select id="selectGroupTable" resultMap="BaseResultMap">
        select
            AUTH_GROUP.ID,
            AUTH_GROUP.GROUP_NO,
            AUTH_GROUP.GROUP_NAME,
            --             AUTH_GROUP.GROUP_ROLE_ID,
            --             AUTH_GROUP.GROUP_ROLE_NO,
            --             AUTH_GROUP.GROUP_ROLE_NAME,
            --             AUTH_GROUP.GROUP_OBJ_ID,
            --             AUTH_GROUP.GROUP_OBJ_NO,
            --             AUTH_GROUP.GROUP_OBJ_NAME,
            AUTH_GROUP.REMARK,
            AUTH_GROUP.MARK,
            AUTH_GROUP.STIME,
            AUTH_GROUP.RTIME,
            --             AUTH_ROLE.ID        R_ID,
            --             AUTH_ROLE.ROLE_NO   R_ROLE_NO,
            AUTH_ROLE.ROLE_NAME R_ROLE_NAME,
            --       AUTH_ROLE.REMARK,
            --       AUTH_ROLE.ROLE_MARK,
            --       AUTH_ROLE.MARK,
            --       AUTH_ROLE.STIME,
            --       AUTH_ROLE.RTIME,
            --             AUTH_OBJ.ID         O_ID,
            --             AUTH_OBJ.OBJ_NO     O_OBJ_NO,
            AUTH_OBJ.OBJ_NAME   O_OBJ_NAME
        --       AUTH_OBJ.REMARK,
        --       AUTH_OBJ.LOGO_PNG,
        --       AUTH_OBJ.MARK,
        --       AUTH_OBJ.STIME,
        --       AUTH_OBJ.RTIME
        from AUTH_GROUP
            left join AUTH_ROLE on AUTH_GROUP.GROUP_ROLE_ID = AUTH_ROLE.ID
            left join AUTH_OBJ on AUTH_GROUP.GROUP_OBJ_ID = AUTH_OBJ.ID
    </select>
    <select id="selectGroupOneById" resultMap="BaseResultMap">
        select
            AUTH_GROUP.ID,
            AUTH_GROUP.GROUP_NO,
            AUTH_GROUP.GROUP_NAME,
            --             AUTH_GROUP.GROUP_ROLE_ID,
            --             AUTH_GROUP.GROUP_ROLE_NO,
            --             AUTH_GROUP.GROUP_ROLE_NAME,
            --             AUTH_GROUP.GROUP_OBJ_ID,
            --             AUTH_GROUP.GROUP_OBJ_NO,
            --             AUTH_GROUP.GROUP_OBJ_NAME,
            AUTH_GROUP.REMARK,
            AUTH_GROUP.MARK,
            --             AUTH_GROUP.STIME,
            --             AUTH_GROUP.RTIME,
            AUTH_ROLE.ID R_ID,
            --             AUTH_ROLE.ROLE_NO   R_ROLE_NO,
            --             AUTH_ROLE.ROLE_NAME R_ROLE_NAME,
            --       AUTH_ROLE.REMARK,
            --       AUTH_ROLE.ROLE_MARK,
            --       AUTH_ROLE.MARK,
            --       AUTH_ROLE.STIME,
            --       AUTH_ROLE.RTIME,
            AUTH_OBJ.ID  O_ID
        --             AUTH_OBJ.OBJ_NO     O_OBJ_NO,
        --             AUTH_OBJ.OBJ_NAME   O_OBJ_NAME
        --       AUTH_OBJ.REMARK,
        --       AUTH_OBJ.LOGO_PNG,
        --       AUTH_OBJ.MARK,
        --       AUTH_OBJ.STIME,
        --       AUTH_OBJ.RTIME
        from AUTH_GROUP
            left join AUTH_ROLE on AUTH_GROUP.GROUP_ROLE_ID = AUTH_ROLE.ID
            left join AUTH_OBJ on AUTH_GROUP.GROUP_OBJ_ID = AUTH_OBJ.ID
        where AUTH_GROUP.ID = #{id}
    </select>
</mapper>