<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.sysoption.FunAreaInfoMapper">
    <resultMap id="BaseResultMap" type="server.db.primary.model.sysoption.AreaInfo">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="AREA_NAME" jdbcType="VARCHAR" property="areaName"/>
        <result column="AREA_NAME_ALIAS" jdbcType="VARCHAR" property="areaNameAlias"/>
        <result column="CO_ID" jdbcType="DECIMAL" property="coId"/>
        <result column="CO_NAME" jdbcType="VARCHAR" property="coName"/>
        <result column="A11_CODE" jdbcType="VARCHAR" property="a11Code"/>
        <result column="A11_CODE_FATHER" jdbcType="VARCHAR" property="a11CodeFather"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="MARK" jdbcType="DECIMAL" property="mark"/>
        <result column="STIME" jdbcType="TIMESTAMP" property="stime"/>
        <!--<association property="factoryInfo" javaType="server.db.primary.model.sysoption.FactoryInfo">-->
        <!--<id column="F_ID" jdbcType="DECIMAL" property="id"/>-->
        <!--<result column="F_NAME" jdbcType="VARCHAR" property="name"/>-->
        <!--<result column="F_A11_CODE_FATHER" jdbcType="VARCHAR" property="a11CodeFather"/>-->
        <!--</association>-->
    </resultMap>
    <resultMap id="Table" type="server.db.primary.model.sysoption.AreaInfo_Table" extends="BaseResultMap">
        <result column="METERING_STATION_COUNT" jdbcType="DECIMAL" property="meteringStationCount"/>
        <result column="CHARGE_WELL_COUNT" jdbcType="DECIMAL" property="chargeWellCount"/>
        <result column="ONLINE_WELL_COUNT" jdbcType="DECIMAL" property="onlineWellCount"/>
    </resultMap>
    <select id="selectAreaInfoTable" resultMap="Table">
        select AREA_INFO.ID,
        AREA_INFO.AREA_NAME,
        AREA_INFO.AREA_NAME_ALIAS,
        -- AREA_INFO.CO_ID,
        AREA_INFO.CO_NAME,
        AREA_INFO.A11_CODE,
        AREA_INFO.A11_CODE_FATHER,
        -- AREA_INFO.REMARK,
        -- AREA_INFO.MARK,
        AREA_INFO.STIME,
        -- FACTORY_INFO.ID F_ID,
        -- FACTORY_INFO.NAME F_NAME,
        -- FACTORY_INFO.A11_CODE_FATHER F_A11_CODE_FATHER,
        METERING_STATION_COUNT,
        CHARGE_WELL_COUNT,
        CHARGE_WELL_COUNT ONLINE_WELL_COUNT
        from
        <!--(select ID, AREA_NAME, AREA_NAME_ALIAS, CO_ID, CO_NAME, A11_CODE, A11_CODE_FATHER, REMARK, MARK, STIME from AREA_INFO -->
        <!--where ID in-->
        <!--<foreach item="item" index="index" collection="areaIds" open="(" separator="," close=")">-->
            <!--#{item}-->
        <!--</foreach>-->
        <!--) -->
        AREA_INFO
        -- left join FACTORY_INFO on AREA_INFO.CO_ID = FACTORY_INFO.ID
        left join (select AREA_ID, count(1) METERING_STATION_COUNT from STATION_INFO where STATION_TYPE = 1 group by AREA_ID) a on AREA_INFO.ID = a.AREA_ID
        left join (select AREA_ID, count(1) CHARGE_WELL_COUNT from WELL_INFO where W_PROPERTY = 0 group by AREA_ID) b on AREA_INFO.ID = b.AREA_ID

        order by AREA_INFO.AREA_NAME
    </select>

    <select id="selectAreaInfoTableOneById" resultMap="BaseResultMap">
        select AREA_INFO.ID, AREA_INFO.AREA_NAME, AREA_INFO.AREA_NAME_ALIAS, AREA_INFO.CO_ID,
--                AREA_INFO.CO_NAME,
               AREA_INFO.A11_CODE, AREA_INFO.A11_CODE_FATHER
                --                AREA_INFO.REMARK,
                --                AREA_INFO.MARK,
                --                AREA_INFO.STIME,
                --                FACTORY_INFO.ID F_ID,
                --                FACTORY_INFO.A11_CODE_FATHER F_A11_CODE_FATHER
                --                FACTORY_INFO.NAME F_NAME
        from AREA_INFO
                --                  left join FACTORY_INFO on AREA_INFO.CO_ID = FACTORY_INFO.ID
        where AREA_INFO.id = #{id}
    </select>
</mapper>