<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.reportform.FunReportStationDataCylWaterMapper">
  <resultMap id="BaseResultMap" type="server.db.primary.model.reportform.ReportStationDataCylWater">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="REPORT_DATE" jdbcType="VARCHAR" property="reportDate" />
    <result column="REPORT_HOUR" jdbcType="VARCHAR" property="reportHour" />
    <result column="PI_401" jdbcType="FLOAT" property="pi401" />
    <result column="PI_402" jdbcType="FLOAT" property="pi402" />
    <result column="PI_403" jdbcType="FLOAT" property="pi403" />
    <result column="PI_404" jdbcType="FLOAT" property="pi404" />
    <result column="PI_405" jdbcType="FLOAT" property="pi405" />
    <result column="PI_406" jdbcType="FLOAT" property="pi406" />
    <result column="PI_407" jdbcType="FLOAT" property="pi407" />
    <result column="PI_408" jdbcType="FLOAT" property="pi408" />
    <result column="PI_409" jdbcType="FLOAT" property="pi409" />
    <result column="PI_410" jdbcType="FLOAT" property="pi410" />
    <result column="PI_411" jdbcType="FLOAT" property="pi411" />
    <result column="PI_412" jdbcType="FLOAT" property="pi412" />
    <result column="PI_413" jdbcType="FLOAT" property="pi413" />
    <result column="PI_414" jdbcType="FLOAT" property="pi414" />
    <result column="PI_415" jdbcType="FLOAT" property="pi415" />
    <result column="PI_416" jdbcType="FLOAT" property="pi416" />
    <result column="PI_417" jdbcType="FLOAT" property="pi417" />
    <result column="PI_418" jdbcType="FLOAT" property="pi418" />
    <result column="PI_419" jdbcType="FLOAT" property="pi419" />
    <result column="PI_420" jdbcType="FLOAT" property="pi420" />
    <result column="LI_401" jdbcType="FLOAT" property="li401" />
    <result column="LI_402" jdbcType="FLOAT" property="li402" />
    <result column="LI_403" jdbcType="FLOAT" property="li403" />
    <result column="LI_404" jdbcType="FLOAT" property="li404" />
    <result column="LI_405" jdbcType="FLOAT" property="li405" />
    <result column="LI_406" jdbcType="FLOAT" property="li406" />
    <result column="LI_407" jdbcType="FLOAT" property="li407" />
    <result column="LI_408" jdbcType="FLOAT" property="li408" />
    <result column="ZI_401" jdbcType="FLOAT" property="zi401" />
    <result column="ZI_402" jdbcType="FLOAT" property="zi402" />
    <result column="ZI_403" jdbcType="FLOAT" property="zi403" />
    <result column="ZI_404" jdbcType="FLOAT" property="zi404" />
    <result column="ZI_405" jdbcType="FLOAT" property="zi405" />
    <result column="ZI_406" jdbcType="FLOAT" property="zi406" />
    <result column="ZI_407" jdbcType="FLOAT" property="zi407" />
    <result column="ZI_408" jdbcType="FLOAT" property="zi408" />
    <result column="ZI_409" jdbcType="FLOAT" property="zi409" />
    <result column="ZI_410" jdbcType="FLOAT" property="zi410" />
    <result column="ZI_411" jdbcType="FLOAT" property="zi411" />
    <result column="ZI_412" jdbcType="FLOAT" property="zi412" />
    <result column="ZI_413" jdbcType="FLOAT" property="zi413" />
    <result column="ZI_414" jdbcType="FLOAT" property="zi414" />
    <result column="ZI_415" jdbcType="FLOAT" property="zi415" />
    <result column="ZI_416" jdbcType="FLOAT" property="zi416" />
    <result column="ZI_417" jdbcType="FLOAT" property="zi417" />
    <result column="ZI_418" jdbcType="FLOAT" property="zi418" />
    <result column="ZI_419" jdbcType="FLOAT" property="zi419" />
    <result column="ZI_420" jdbcType="FLOAT" property="zi420" />
    <result column="ZI_421" jdbcType="FLOAT" property="zi421" />
    <result column="ZI_422" jdbcType="FLOAT" property="zi422" />
    <result column="ZI_423" jdbcType="FLOAT" property="zi423" />
    <result column="ZI_424" jdbcType="FLOAT" property="zi424" />
    <result column="ZI_425" jdbcType="FLOAT" property="zi425" />
    <result column="ZI_426" jdbcType="FLOAT" property="zi426" />
    <result column="ZI_427" jdbcType="FLOAT" property="zi427" />
    <result column="ZI_437" jdbcType="FLOAT" property="zi437" />
    <result column="HRAET" jdbcType="FLOAT" property="hraet" />
    <result column="FT_401" jdbcType="FLOAT" property="ft401" />
    <result column="FTQ_401" jdbcType="FLOAT" property="ftq401" />
    <result column="FT_402" jdbcType="FLOAT" property="ft402" />
    <result column="FTQ_402" jdbcType="FLOAT" property="ftq402" />
    <result column="FT_404" jdbcType="FLOAT" property="ft404" />
    <result column="FTQ_404" jdbcType="FLOAT" property="ftq404" />
    <result column="E1ZWPA_U" jdbcType="FLOAT" property="e1zwpaU" />
    <result column="E1ZWPA_I" jdbcType="FLOAT" property="e1zwpaI" />
    <result column="E1ZWPB_U" jdbcType="FLOAT" property="e1zwpbU" />
    <result column="E1ZWPB_I" jdbcType="FLOAT" property="e1zwpbI" />
    <result column="E1ZWPC_U" jdbcType="FLOAT" property="e1zwpcU" />
    <result column="E1ZWPC_I" jdbcType="FLOAT" property="e1zwpcI" />
    <result column="E1ZWP_ZY" jdbcType="FLOAT" property="e1zwpZy" />
    <result column="E1ZWP_ZW" jdbcType="FLOAT" property="e1zwpZw" />
    <result column="E1ZWP_Z" jdbcType="FLOAT" property="e1zwpZ" />
    <result column="E2ZWPA_U" jdbcType="FLOAT" property="e2zwpaU" />
    <result column="E2ZWPA_I" jdbcType="FLOAT" property="e2zwpaI" />
    <result column="E2ZWPB_U" jdbcType="FLOAT" property="e2zwpbU" />
    <result column="E2ZWPB_I" jdbcType="FLOAT" property="e2zwpbI" />
    <result column="E2ZWPC_U" jdbcType="FLOAT" property="e2zwpcU" />
    <result column="E2ZWPC_I" jdbcType="FLOAT" property="e2zwpcI" />
    <result column="E2ZWP_ZY" jdbcType="FLOAT" property="e2zwpZy" />
    <result column="E2ZWP_ZW" jdbcType="FLOAT" property="e2zwpZw" />
    <result column="E2ZWP_Z" jdbcType="FLOAT" property="e2zwpZ" />
    <result column="E3ZWPA_U" jdbcType="FLOAT" property="e3zwpaU" />
    <result column="E3ZWPA_I" jdbcType="FLOAT" property="e3zwpaI" />
    <result column="E3ZWPB_U" jdbcType="FLOAT" property="e3zwpbU" />
    <result column="E3ZWPB_I" jdbcType="FLOAT" property="e3zwpbI" />
    <result column="E3ZWPC_U" jdbcType="FLOAT" property="e3zwpcU" />
    <result column="E3ZWPC_I" jdbcType="FLOAT" property="e3zwpcI" />
    <result column="E3ZWP_ZY" jdbcType="FLOAT" property="e3zwpZy" />
    <result column="E3ZWP_ZW" jdbcType="FLOAT" property="e3zwpZw" />
    <result column="E3ZWP_Z" jdbcType="FLOAT" property="e3zwpZ" />
    <result column="E4ZWPA_U" jdbcType="FLOAT" property="e4zwpaU" />
    <result column="E4ZWPA_I" jdbcType="FLOAT" property="e4zwpaI" />
    <result column="E4ZWPB_U" jdbcType="FLOAT" property="e4zwpbU" />
    <result column="E4ZWPB_I" jdbcType="FLOAT" property="e4zwpbI" />
    <result column="E4ZWPC_U" jdbcType="FLOAT" property="e4zwpcU" />
    <result column="E4ZWPC_I" jdbcType="FLOAT" property="e4zwpcI" />
    <result column="E4ZWP_ZY" jdbcType="FLOAT" property="e4zwpZy" />
    <result column="E4ZWP_ZW" jdbcType="FLOAT" property="e4zwpZw" />
    <result column="E4ZWP_Z" jdbcType="FLOAT" property="e4zwpZ" />
    <result column="E5ZWPA_U" jdbcType="FLOAT" property="e5zwpaU" />
    <result column="E5ZWPA_I" jdbcType="FLOAT" property="e5zwpaI" />
    <result column="E5ZWPB_U" jdbcType="FLOAT" property="e5zwpbU" />
    <result column="E5ZWPB_I" jdbcType="FLOAT" property="e5zwpbI" />
    <result column="E5ZWPC_U" jdbcType="FLOAT" property="e5zwpcU" />
    <result column="E5ZWPC_I" jdbcType="FLOAT" property="e5zwpcI" />
    <result column="E5ZWP_ZY" jdbcType="FLOAT" property="e5zwpZy" />
    <result column="E5ZWP_ZW" jdbcType="FLOAT" property="e5zwpZw" />
    <result column="E5ZWP_Z" jdbcType="FLOAT" property="e5zwpZ" />
    <result column="E6ZWPA_U" jdbcType="FLOAT" property="e6zwpaU" />
    <result column="E6ZWPA_I" jdbcType="FLOAT" property="e6zwpaI" />
    <result column="E6ZWPB_U" jdbcType="FLOAT" property="e6zwpbU" />
    <result column="E6ZWPB_I" jdbcType="FLOAT" property="e6zwpbI" />
    <result column="E6ZWPC_U" jdbcType="FLOAT" property="e6zwpcU" />
    <result column="E6ZWPC_I" jdbcType="FLOAT" property="e6zwpcI" />
    <result column="E6ZWP_ZY" jdbcType="FLOAT" property="e6zwpZy" />
    <result column="E6ZWP_ZW" jdbcType="FLOAT" property="e6zwpZw" />
    <result column="E6ZWP_Z" jdbcType="FLOAT" property="e6zwpZ" />
    <result column="E7ZWPA_U" jdbcType="FLOAT" property="e7zwpaU" />
    <result column="E7ZWPA_I" jdbcType="FLOAT" property="e7zwpaI" />
    <result column="E7ZWPB_U" jdbcType="FLOAT" property="e7zwpbU" />
    <result column="E7ZWPB_I" jdbcType="FLOAT" property="e7zwpbI" />
    <result column="E7ZWPC_U" jdbcType="FLOAT" property="e7zwpcU" />
    <result column="E7ZWPC_I" jdbcType="FLOAT" property="e7zwpcI" />
    <result column="E7ZWP_ZY" jdbcType="FLOAT" property="e7zwpZy" />
    <result column="E7ZWP_ZW" jdbcType="FLOAT" property="e7zwpZw" />
    <result column="E7ZWP_Z" jdbcType="FLOAT" property="e7zwpZ" />
    <result column="E8ZWPA_U" jdbcType="FLOAT" property="e8zwpaU" />
    <result column="E8ZWPA_I" jdbcType="FLOAT" property="e8zwpaI" />
    <result column="E8ZWPB_U" jdbcType="FLOAT" property="e8zwpbU" />
    <result column="E8ZWPB_I" jdbcType="FLOAT" property="e8zwpbI" />
    <result column="E8ZWPC_U" jdbcType="FLOAT" property="e8zwpcU" />
    <result column="E8ZWPC_I" jdbcType="FLOAT" property="e8zwpcI" />
    <result column="E8ZWP_ZY" jdbcType="FLOAT" property="e8zwpZy" />
    <result column="E8ZWP_ZW" jdbcType="FLOAT" property="e8zwpZw" />
    <result column="E8ZWP_Z" jdbcType="FLOAT" property="e8zwpZ" />
    <result column="E9ZWPA_U" jdbcType="FLOAT" property="e9zwpaU" />
    <result column="E9ZWPA_I" jdbcType="FLOAT" property="e9zwpaI" />
    <result column="E9ZWPB_U" jdbcType="FLOAT" property="e9zwpbU" />
    <result column="E9ZWPB_I" jdbcType="FLOAT" property="e9zwpbI" />
    <result column="E9ZWPC_U" jdbcType="FLOAT" property="e9zwpcU" />
    <result column="E9ZWPC_I" jdbcType="FLOAT" property="e9zwpcI" />
    <result column="E9ZWP_ZY" jdbcType="FLOAT" property="e9zwpZy" />
    <result column="E9ZWP_ZW" jdbcType="FLOAT" property="e9zwpZw" />
    <result column="E9ZWP_Z" jdbcType="FLOAT" property="e9zwpZ" />
    <result column="MARK" jdbcType="DECIMAL" property="mark" />
    <result column="STIME" jdbcType="TIMESTAMP" property="stime" />
    <result column="JYBH" jdbcType="FLOAT" property="jybh" />
    <result column="JYHS" jdbcType="FLOAT" property="jyhs" />
    <result column="JYZG" jdbcType="FLOAT" property="jyzg" />
    <result column="JYJS" jdbcType="FLOAT" property="jyjs" />
    <result column="JYXN" jdbcType="FLOAT" property="jyxn" />
    <result column="WSB_BY1" jdbcType="FLOAT" property="wsbBy1" />
    <result column="WSB_BY2" jdbcType="FLOAT" property="wsbBy2" />
    <result column="WSB_BY3" jdbcType="FLOAT" property="wsbBy3" />
    <result column="WSHY" jdbcType="VARCHAR" property="wshy" />
    <result column="QSB_BY" jdbcType="FLOAT" property="qsbBy" />
    <result column="QSB_SS" jdbcType="FLOAT" property="qsbSs" />
    <result column="QSB_LJ" jdbcType="FLOAT" property="qsbLj" />
    <result column="FT_403" jdbcType="FLOAT" property="ft403" />
    <result column="FT_888" jdbcType="FLOAT" property="ft888" />
  </resultMap>
</mapper>