<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.reportform.FunReportDataOwaterLoopMapper">
  <resultMap id="BaseResultMap" type="server.db.primary.model.reportform.ReportDataOwaterLoop">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="REPORT_DATE" jdbcType="VARCHAR" property="reportDate" />
    <result column="REPORT_HOUR" jdbcType="VARCHAR" property="reportHour" />
    <result column="REPORT_LOOP_ID" jdbcType="DECIMAL" property="reportLoopId" />
    <result column="REPORT_LOOP_NAME" jdbcType="VARCHAR" property="reportLoopName" />
    <result column="REPORT_STATION_ID" jdbcType="DECIMAL" property="reportStationId" />
    <result column="REPORT_STATION_NAME" jdbcType="VARCHAR" property="reportStationName" />
    <result column="AREA_ID" jdbcType="DECIMAL" property="areaId" />
    <result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
    <result column="TEMP_OUT" jdbcType="DECIMAL" property="tempOut" />
    <result column="PRESS_OUT" jdbcType="DECIMAL" property="pressOut" />
    <result column="FLOW_INST_OUT" jdbcType="DECIMAL" property="flowInstOut" />
    <result column="FLOW_TOTLE_OUT" jdbcType="DECIMAL" property="flowTotleOut" />
    <result column="WATER_VAL" jdbcType="DECIMAL" property="waterVal" />
    <result column="TEMP_IN" jdbcType="DECIMAL" property="tempIn" />
    <result column="PRESS_IN" jdbcType="DECIMAL" property="pressIn" />
    <result column="FLOW_INST_IN" jdbcType="DECIMAL" property="flowInstIn" />
    <result column="FLOW_TOTLE_IN" jdbcType="DECIMAL" property="flowTotleIn" />
    <result column="LIQUID_VAL" jdbcType="DECIMAL" property="liquidVal" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="MARK" jdbcType="DECIMAL" property="mark" />
    <result column="STIME" jdbcType="TIMESTAMP" property="stime" />
    <result column="TESTAAA" jdbcType="DECIMAL" property="testaaa" />
  </resultMap>
</mapper>