<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.reportform.FunReportDataOwaterWellsMapper">
  <resultMap id="BaseResultMap" type="server.db.primary.model.reportform.ReportDataOwaterWells">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="REPORT_DATE" jdbcType="VARCHAR" property="reportDate" />
    <result column="REPORT_WELL_ID" jdbcType="DECIMAL" property="reportWellId" />
    <result column="REPORT_WELL_NAME" jdbcType="VARCHAR" property="reportWellName" />
    <result column="REPORT_WELL_NUM" jdbcType="DECIMAL" property="reportWellNum" />
    <result column="WELL_ID" jdbcType="DECIMAL" property="wellId" />
    <result column="WELL_NAME" jdbcType="VARCHAR" property="wellName" />
    <result column="REPORT_STATION_ID" jdbcType="DECIMAL" property="reportStationId" />
    <result column="REPORT_STATION_NAME" jdbcType="VARCHAR" property="reportStationName" />
    <result column="LOOP_ID" jdbcType="DECIMAL" property="loopId" />
    <result column="LOOP_NAME" jdbcType="VARCHAR" property="loopName" />
    <result column="AREA_ID" jdbcType="DECIMAL" property="areaId" />
    <result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
    <result column="PRESS_OIL_08" jdbcType="DECIMAL" property="pressOil08" />
    <result column="PRESS_OIL_10" jdbcType="DECIMAL" property="pressOil10" />
    <result column="PRESS_OIL_12" jdbcType="DECIMAL" property="pressOil12" />
    <result column="PRESS_OIL_14" jdbcType="DECIMAL" property="pressOil14" />
    <result column="PRESS_OIL_16" jdbcType="DECIMAL" property="pressOil16" />
    <result column="PRESS_OIL_18" jdbcType="DECIMAL" property="pressOil18" />
    <result column="PRESS_OIL_20" jdbcType="DECIMAL" property="pressOil20" />
    <result column="PRESS_OIL_22" jdbcType="DECIMAL" property="pressOil22" />
    <result column="PRESS_OIL_00" jdbcType="DECIMAL" property="pressOil00" />
    <result column="PRESS_OIL_02" jdbcType="DECIMAL" property="pressOil02" />
    <result column="PRESS_OIL_04" jdbcType="DECIMAL" property="pressOil04" />
    <result column="PRESS_OIL_06" jdbcType="DECIMAL" property="pressOil06" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="MARK" jdbcType="DECIMAL" property="mark" />
    <result column="STIME" jdbcType="TIMESTAMP" property="stime" />
  </resultMap>
</mapper>