<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.reportform.FunReportDataWaterWellMapper">
  <resultMap id="BaseResultMap" type="server.db.primary.model.reportform.ReportDataWaterWell">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="REPORT_DATE" jdbcType="VARCHAR" property="reportDate" />
    <result column="REPORT_WATER_WELL_ID" jdbcType="DECIMAL" property="reportWaterWellId" />
    <result column="REPORT_WATER_WELL_NAME" jdbcType="VARCHAR" property="reportWaterWellName" />
    <result column="REPORT_WATER_WELL_NUM" jdbcType="DECIMAL" property="reportWaterWellNum" />
    <result column="WATER_WELL_ID" jdbcType="DECIMAL" property="waterWellId" />
    <result column="WATER_WELL_NAME" jdbcType="VARCHAR" property="waterWellName" />
    <result column="REPORT_STATION_ID" jdbcType="DECIMAL" property="reportStationId" />
    <result column="REPORT_STATION_NAME" jdbcType="VARCHAR" property="reportStationName" />
    <result column="AREA_ID" jdbcType="DECIMAL" property="areaId" />
    <result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
    <result column="PRESS_TRUNK" jdbcType="DECIMAL" property="pressTrunk" />
    <result column="PRESS_OIL" jdbcType="DECIMAL" property="pressOil" />
    <result column="FLOW_START" jdbcType="DECIMAL" property="flowStart" />
    <result column="FLOW_END" jdbcType="DECIMAL" property="flowEnd" />
    <result column="FLOW_WATER_DAY" jdbcType="DECIMAL" property="flowWaterDay" />
    <result column="FLOW_WATER_CONF" jdbcType="DECIMAL" property="flowWaterConf" />
    <result column="FLOW_CONF_DAY" jdbcType="DECIMAL" property="flowConfDay" />
    <result column="FLOW_DATA_START" jdbcType="DECIMAL" property="flowDataStart" />
    <result column="FLOW_DATA_START_TIME" jdbcType="TIMESTAMP" property="flowDataStartTime" />
    <result column="FLOW_DATA_END" jdbcType="DECIMAL" property="flowDataEnd" />
    <result column="FLOW_DATA_END_TIME" jdbcType="TIMESTAMP" property="flowDataEndTime" />
    <result column="INJECTION_INFO" jdbcType="VARCHAR" property="injectionInfo" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="MARK" jdbcType="DECIMAL" property="mark" />
    <result column="STIME" jdbcType="TIMESTAMP" property="stime" />
    <result column="EVENT_WELL_SWITCH" jdbcType="VARCHAR" property="eventWellSwitch" />
  </resultMap>

</mapper>