<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.reportform.FunRaoYangZongHeMapper">
    <resultMap id="BaseResultMap" type="server.db.primary.model.reportform.ReportRaoYangZongHe_Res">
        <!--<result column="ID" jdbcType="DECIMAL" property="id"/>-->
         <result column="REPORT_STATION_NAME" jdbcType="DECIMAL" property="name"/>
         <result column="TOTAL" jdbcType="DECIMAL" property="total_wells"/>
         <result column="KAI_JING" jdbcType="DECIMAL" property="open_wells"/>
         <result column="CHANG_TING" jdbcType="DECIMAL" property="stop_wells"/>
         <result column="ZUO_YE" jdbcType="DECIMAL" property="job_wells"/>
         <result column="FEI_ZHENG_CHANG" jdbcType="DECIMAL" property="abnormal_wells"/>
         <result column="PROD_LIQUID_V" jdbcType="DECIMAL" property="liquid_daily"/>
         <result column="PROD_OIL_V" jdbcType="DECIMAL" property="oil_daily"/>
         <result column="PROD_WATER_CUT" jdbcType="DECIMAL" property="containing"/>
         <result column="TONG_XIN_YI_CHANG" jdbcType="DECIMAL" property="ab_communication"/>
         <result column="QIAN_DUAN_YI_BIAO" jdbcType="DECIMAL" property="stoppage_machine"/>
         <result column="CHAO_XIAN_BAO_JING" jdbcType="DECIMAL" property="over_alarm"/>
         <result column="GONG_KUANG_BAO_JING" jdbcType="DECIMAL" property="working_alarm"/>
    </resultMap>
    <select id="selectTable" resultMap="BaseResultMap">

        select  REPORT_STATION_ID,
                REPORT_STATION_NAME,
                sum(TOTAL) TOTAL,
                sum(KAI_JING) KAI_JING,
                sum(CHANG_TING) CHANG_TING,
                sum(ZUO_YE) ZUO_YE,
                sum(FEI_ZHENG_CHANG) FEI_ZHENG_CHANG,
                sum(QI_TA) QI_TA,
                sum(PROD_OIL_V) PROD_OIL_V,
                sum(PROD_OIL_W) PROD_OIL_W,
                sum(PROD_LIQUID_V) PROD_LIQUID_V,
                sum(PROD_LIQUID_W) PROD_LIQUID_W,
                avg(PROD_WATER_CUT) PROD_WATER_CUT,
                sum(CHAO_XIAN_BAO_JING) CHAO_XIAN_BAO_JING,
                sum(GONG_KUANG_BAO_JING) GONG_KUANG_BAO_JING,
                sum(TONG_XIN_YI_CHANG) TONG_XIN_YI_CHANG,
                0 QIAN_DUAN_YI_BIAO
        from(

            select *
            from (


                 --报表站信息
                 select ID, LOOP_NAME,REPORT_STATION_ID,REPORT_STATION_NAME from REPORT_CONF_CLOSEDLOOP where REPORT_STATION_ID in (1, 2))REPORT_CONF_CLOSEDLOOP

                     left join
                         --总井数，开井数卖场停井，作业井，非正常停井
                         (select STATION_ID,
                                 REPROT_ID,
                                 sum(1)                                               TOTAL,
                                 sum(case when REMARK = '运行' then 1 else 0 end)     KAI_JING,
                                 sum(case when REMARK = '长停井' then 1 else 0 end)   CHANG_TING,
                                 sum(case when REMARK = '作业井' then 1 else 0 end)   ZUO_YE,
                                 sum(case when REMARK = '停井' then 1 else 0 end)     FEI_ZHENG_CHANG,
                                 sum(case when instr( '停井' ,REMARK)>0 then 1 else 0 end)     TONG_XIN_YI_CHANG,
                                 sum(case when REMARK not in ('运行', '长停井', '作业井', '停井') then 1 else 0 end) QI_TA,
                                 sum(case when ALERT_KIND='超限报警' then 1 else 0 end) CHAO_XIAN_BAO_JING,
                                 sum(case when ALERT_KIND!='超限报警' then 1 else 0 end) GONG_KUANG_BAO_JING
                          from (
                               --井信息
                               select STATION_ID, ID,
                                      (case
                                           when STATION_ID = 204 then 1
                                           when STATION_ID = 205 then 2
                                           when STATION_ID = 206 then 3
                                           when STATION_ID = 207 then 4
                                           when STATION_ID = 208 then 5
                                           when STATION_ID = 209 then 6
                                           when STATION_ID = 210 then 7
                                           when STATION_ID = 211 then 8
                                           when STATION_ID = 212 then 9
                                           when STATION_ID = 213 then 10
                                           when STATION_ID = 214 then 11
                                           when STATION_ID = 215 then 12
                                           when STATION_ID = 321 then 12
                                           when STATION_ID = 322 then 12
                                           when STATION_ID = 216 then 13
                                           when STATION_ID = 217 then 14
                                           when STATION_ID = 218 then 15
                                           when STATION_ID = 219 then 16
                                           when STATION_ID = 220 then 17
                                           when STATION_ID = 221 then 18
                                           when STATION_ID = 222 then 19
                                           when STATION_ID = 223 then 20
                                           when STATION_ID = 224 then 21
                                           when STATION_ID = 225 then 41
                                              end)                       REPROT_ID
                               from WELL_INFO
                               where STATION_ID
                                         in (204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, --楚一 1
                                             215, 321, 322, 216, 217, 218, 219, 220, 221, 222, 223, 224, --楚二 2
                                             225 --拉油点 21
                                             )
                               )WELL_INFO
                                   left join (
                                             --井状态
                                             select
                                                    WELL_ID,
                                                    REMARK
                                             from (select WELL_ID, REMARK, row_number() over (partition by WELL_ID order by STIME desc) as rn from WELL_DATA_HIS where trunc(STIME) = trunc(TO_DATE(#{searchDate}, 'yyyy-MM-dd'))) WELL_DATA_HIS where rn = 1
                                             ) WELL_DATA_HIS on WELL_INFO.ID = WELL_DATA_HIS.WELL_ID
                                   left join (
                                             --warn报警
                                             select WELL_ID, ALERT_KIND from (select WELL_ID, ALERT_KIND, row_number() over (partition by WELL_ID order by STIME desc) as rn from WARN_DATA
-- 											where trunc(STIME) = trunc(TO_DATE('2018-08-24', 'yyyy-MM-dd'))
                                                                             ) WARN_DATA where rn = 1
                                             )  WARN_DATA on WELL_INFO.ID = WARN_DATA.WELL_ID
                          group by STATION_ID,REPROT_ID
                         ) STATION_ID on REPORT_CONF_CLOSEDLOOP.ID = STATION_ID.REPROT_ID
                     left join
                         --日产液，日产油，含水
                         (select LOOP_ID,--LOOP_NAME,
                                 sum(NVL(PROD_OIL_V, 0)) PROD_OIL_V, sum(NVL(PROD_OIL_W, 0)) PROD_OIL_W, sum(NVL(PROD_LIQUID_V, 0)) PROD_LIQUID_V, sum(NVL(PROD_LIQUID_V, 0)) PROD_LIQUID_W, avg(PROD_WATER_CUT) PROD_WATER_CUT
                          from REPORT_DATA_OIL_WELL
                          where REPORT_STATION_ID in (1, 2)
                            and REPORT_DATE = #{searchDate}
                          group by LOOP_ID, LOOP_NAME
                         ) REPORT_DATA_OIL_WELL on REPORT_CONF_CLOSEDLOOP.ID = REPORT_DATA_OIL_WELL.LOOP_ID

            order by ID
            ) UNGROUP_TABLE
        group by REPORT_STATION_ID,REPORT_STATION_NAME
    </select>
</mapper>


























