<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.reportform.FunReportStationDataCezResMapper">
  <resultMap id="BaseResultMap" type="server.db.primary.model.reportform.ReportStationDataCez">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="REPORT_DATE" jdbcType="VARCHAR" property="reportDate" />
    <result column="REPORT_HOUR" jdbcType="VARCHAR" property="reportHour" />
    <result column="TI_1010" jdbcType="FLOAT" property="ti1010" />
    <result column="TI_1020" jdbcType="FLOAT" property="ti1020" />
    <result column="TI_1030" jdbcType="FLOAT" property="ti1030" />
    <result column="TI_1040" jdbcType="FLOAT" property="ti1040" />
    <result column="TI_1050" jdbcType="FLOAT" property="ti1050" />
    <result column="TI_1060" jdbcType="FLOAT" property="ti1060" />
    <result column="TI_1070" jdbcType="FLOAT" property="ti1070" />
    <result column="TI_1080" jdbcType="FLOAT" property="ti1080" />
    <result column="TI_1090" jdbcType="FLOAT" property="ti1090" />
    <result column="TI_1110" jdbcType="FLOAT" property="ti1110" />
    <result column="TI_1120" jdbcType="FLOAT" property="ti1120" />
    <result column="TI_1130" jdbcType="FLOAT" property="ti1130" />
    <result column="TI_1140" jdbcType="FLOAT" property="ti1140" />
    <result column="TI_1150" jdbcType="FLOAT" property="ti1150" />
    <result column="TI_1200" jdbcType="FLOAT" property="ti1200" />
    <result column="TI_1210" jdbcType="FLOAT" property="ti1210" />
    <result column="TI_1220" jdbcType="FLOAT" property="ti1220" />
    <result column="TI_1230" jdbcType="FLOAT" property="ti1230" />
    <result column="TI_1240" jdbcType="FLOAT" property="ti1240" />
    <result column="TI_1250" jdbcType="FLOAT" property="ti1250" />
    <result column="TI_1260" jdbcType="FLOAT" property="ti1260" />
    <result column="TI_1270" jdbcType="FLOAT" property="ti1270" />
    <result column="PI_1010" jdbcType="FLOAT" property="pi1010" />
    <result column="PI_1020" jdbcType="FLOAT" property="pi1020" />
    <result column="PI_1030" jdbcType="FLOAT" property="pi1030" />
    <result column="PI_1040" jdbcType="FLOAT" property="pi1040" />
    <result column="PI_1050" jdbcType="FLOAT" property="pi1050" />
    <result column="PI_1060" jdbcType="FLOAT" property="pi1060" />
    <result column="PI_1070" jdbcType="FLOAT" property="pi1070" />
    <result column="PI_1080" jdbcType="FLOAT" property="pi1080" />
    <result column="PI_1090" jdbcType="FLOAT" property="pi1090" />
    <result column="PI_1100" jdbcType="FLOAT" property="pi1100" />
    <result column="PI_1110" jdbcType="FLOAT" property="pi1110" />
    <result column="PI_1120" jdbcType="FLOAT" property="pi1120" />
    <result column="PI_1140" jdbcType="FLOAT" property="pi1140" />
    <result column="PI_1150" jdbcType="FLOAT" property="pi1150" />
    <result column="LT_1010" jdbcType="FLOAT" property="lt1010" />
    <result column="LT_1020" jdbcType="FLOAT" property="lt1020" />
    <result column="LT_1030" jdbcType="FLOAT" property="lt1030" />
    <result column="LT_1040" jdbcType="FLOAT" property="lt1040" />
    <result column="LT_1050" jdbcType="FLOAT" property="lt1050" />
    <result column="LT_1060" jdbcType="FLOAT" property="lt1060" />
    <result column="FT_1010" jdbcType="FLOAT" property="ft1010" />
    <result column="FT_1020" jdbcType="FLOAT" property="ft1020" />
    <result column="FT_1030" jdbcType="FLOAT" property="ft1030" />
    <result column="FT_1040" jdbcType="FLOAT" property="ft1040" />
    <result column="FT_1080" jdbcType="FLOAT" property="ft1080" />
    <result column="II_1010" jdbcType="FLOAT" property="ii1010" />
    <result column="II_1020" jdbcType="FLOAT" property="ii1020" />
    <result column="II_1050" jdbcType="FLOAT" property="ii1050" />
    <result column="II_1060" jdbcType="FLOAT" property="ii1060" />
    <result column="II_1070" jdbcType="FLOAT" property="ii1070" />
    <result column="II_1080" jdbcType="FLOAT" property="ii1080" />
    <result column="II_1090" jdbcType="FLOAT" property="ii1090" />
    <result column="II_1100" jdbcType="FLOAT" property="ii1100" />
    <result column="II_1130" jdbcType="FLOAT" property="ii1130" />
    <result column="II_1140" jdbcType="FLOAT" property="ii1140" />
    <result column="II_1150" jdbcType="FLOAT" property="ii1150" />
    <result column="II_1160" jdbcType="FLOAT" property="ii1160" />
    <result column="GI_1010" jdbcType="FLOAT" property="gi1010" />
    <result column="GI_1020" jdbcType="FLOAT" property="gi1020" />
    <result column="CWPUMP_1" jdbcType="FLOAT" property="cwpump1" />
    <result column="CWPUMP_2" jdbcType="FLOAT" property="cwpump2" />
    <result column="CWPUMP_3" jdbcType="FLOAT" property="cwpump3" />
    <result column="CWPUMP_4" jdbcType="FLOAT" property="cwpump4" />
    <result column="CWPUMP_5" jdbcType="FLOAT" property="cwpump5" />
    <result column="CWPUMP_6" jdbcType="FLOAT" property="cwpump6" />
    <result column="CWPUMP_7" jdbcType="FLOAT" property="cwpump7" />
    <result column="HWPUMP_1" jdbcType="FLOAT" property="hwpump1" />
    <result column="HWPUMP_2" jdbcType="FLOAT" property="hwpump2" />
    <result column="HWPUMP_3" jdbcType="FLOAT" property="hwpump3" />
    <result column="HWPUMP_4" jdbcType="FLOAT" property="hwpump4" />
    <result column="HWPUMP_5" jdbcType="FLOAT" property="hwpump5" />
    <result column="HWPUMP_6" jdbcType="FLOAT" property="hwpump6" />
    <result column="HWPUMP_7" jdbcType="FLOAT" property="hwpump7" />
    <result column="E1CWPA_U0" jdbcType="FLOAT" property="e1cwpaU0" />
    <result column="E1CWPA_I0" jdbcType="FLOAT" property="e1cwpaI0" />
    <result column="E1CWPB_U0" jdbcType="FLOAT" property="e1cwpbU0" />
    <result column="E1CWPB_I0" jdbcType="FLOAT" property="e1cwpbI0" />
    <result column="E1CWPC_U0" jdbcType="FLOAT" property="e1cwpcU0" />
    <result column="E1CWPC_I0" jdbcType="FLOAT" property="e1cwpcI0" />
    <result column="E1CWP_ZY0" jdbcType="FLOAT" property="e1cwpZy0" />
    <result column="E1CWP_ZW0" jdbcType="FLOAT" property="e1cwpZw0" />
    <result column="E1CWP_Z0" jdbcType="FLOAT" property="e1cwpZ0" />
    <result column="E2CWPA_U0" jdbcType="FLOAT" property="e2cwpaU0" />
    <result column="E2CWPA_I0" jdbcType="FLOAT" property="e2cwpaI0" />
    <result column="E2CWPB_U0" jdbcType="FLOAT" property="e2cwpbU0" />
    <result column="E2CWPB_I0" jdbcType="FLOAT" property="e2cwpbI0" />
    <result column="E2CWPC_U0" jdbcType="FLOAT" property="e2cwpcU0" />
    <result column="E2CWPC_I0" jdbcType="FLOAT" property="e2cwpcI0" />
    <result column="E2CWP_ZY0" jdbcType="FLOAT" property="e2cwpZy0" />
    <result column="E2CWP_ZW0" jdbcType="FLOAT" property="e2cwpZw0" />
    <result column="E2CWP_Z0" jdbcType="FLOAT" property="e2cwpZ0" />
    <result column="E1HWPA_U0" jdbcType="FLOAT" property="e1hwpaU0" />
    <result column="E1HWPA_I0" jdbcType="FLOAT" property="e1hwpaI0" />
    <result column="E1HWPB_U0" jdbcType="FLOAT" property="e1hwpbU0" />
    <result column="E1HWPB_I0" jdbcType="FLOAT" property="e1hwpbI0" />
    <result column="E1HWPC_U0" jdbcType="FLOAT" property="e1hwpcU0" />
    <result column="E1HWPC_I0" jdbcType="FLOAT" property="e1hwpcI0" />
    <result column="E1HWP_ZY0" jdbcType="FLOAT" property="e1hwpZy0" />
    <result column="E1HWP_ZW0" jdbcType="FLOAT" property="e1hwpZw0" />
    <result column="E1HWP_Z0" jdbcType="FLOAT" property="e1hwpZ0" />
    <result column="E1WSPA_U0" jdbcType="FLOAT" property="e1wspaU0" />
    <result column="E1WSPA_I0" jdbcType="FLOAT" property="e1wspaI0" />
    <result column="E1WSPB_U0" jdbcType="FLOAT" property="e1wspbU0" />
    <result column="E1WSPB_I0" jdbcType="FLOAT" property="e1wspbI0" />
    <result column="E1WSPC_U0" jdbcType="FLOAT" property="e1wspcU0" />
    <result column="E1WSPC_I0" jdbcType="FLOAT" property="e1wspcI0" />
    <result column="E1WSP_ZY0" jdbcType="FLOAT" property="e1wspZy0" />
    <result column="E1WSP_ZW0" jdbcType="FLOAT" property="e1wspZw0" />
    <result column="E1WSP_Z0" jdbcType="FLOAT" property="e1wspZ0" />
    <result column="E2WSPA_U0" jdbcType="FLOAT" property="e2wspaU0" />
    <result column="E2WSPA_I0" jdbcType="FLOAT" property="e2wspaI0" />
    <result column="E2WSPB_U0" jdbcType="FLOAT" property="e2wspbU0" />
    <result column="E2WSPB_I0" jdbcType="FLOAT" property="e2wspbI0" />
    <result column="E2WSPC_U0" jdbcType="FLOAT" property="e2wspcU0" />
    <result column="E2WSPC_I0" jdbcType="FLOAT" property="e2wspcI0" />
    <result column="E2WSP_ZY0" jdbcType="FLOAT" property="e2wspZy0" />
    <result column="E2WSP_ZW0" jdbcType="FLOAT" property="e2wspZw0" />
    <result column="E2WSP_Z0" jdbcType="FLOAT" property="e2wspZ0" />
    <result column="E3WSPA_U0" jdbcType="FLOAT" property="e3wspaU0" />
    <result column="E3WSPA_I0" jdbcType="FLOAT" property="e3wspaI0" />
    <result column="E3WSPB_U0" jdbcType="FLOAT" property="e3wspbU0" />
    <result column="E3WSPB_I0" jdbcType="FLOAT" property="e3wspbI0" />
    <result column="E3WSPC_U0" jdbcType="FLOAT" property="e3wspcU0" />
    <result column="E3WSPC_I0" jdbcType="FLOAT" property="e3wspcI0" />
    <result column="E3WSP_ZY0" jdbcType="FLOAT" property="e3wspZy0" />
    <result column="E3WSP_ZW0" jdbcType="FLOAT" property="e3wspZw0" />
    <result column="E3WSP_Z0" jdbcType="FLOAT" property="e3wspZ0" />
    <result column="E2HWPA_U0" jdbcType="FLOAT" property="e2hwpaU0" />
    <result column="E2HWPA_I0" jdbcType="FLOAT" property="e2hwpaI0" />
    <result column="E2HWPB_U0" jdbcType="FLOAT" property="e2hwpbU0" />
    <result column="E2HWPB_I0" jdbcType="FLOAT" property="e2hwpbI0" />
    <result column="E2HWPC_U0" jdbcType="FLOAT" property="e2hwpcU0" />
    <result column="E2HWPC_I0" jdbcType="FLOAT" property="e2hwpcI0" />
    <result column="E2HWP_ZY0" jdbcType="FLOAT" property="e2hwpZy0" />
    <result column="E2HWP_ZW0" jdbcType="FLOAT" property="e2hwpZw0" />
    <result column="E2HWP_Z0" jdbcType="FLOAT" property="e2hwpZ0" />
    <result column="E3HWPA_U0" jdbcType="FLOAT" property="e3hwpaU0" />
    <result column="E3HWPA_I0" jdbcType="FLOAT" property="e3hwpaI0" />
    <result column="E3HWPB_U0" jdbcType="FLOAT" property="e3hwpbU0" />
    <result column="E3HWPB_I0" jdbcType="FLOAT" property="e3hwpbI0" />
    <result column="E3HWPC_U0" jdbcType="FLOAT" property="e3hwpcU0" />
    <result column="E3HWPC_I0" jdbcType="FLOAT" property="e3hwpcI0" />
    <result column="E3HWP_ZY0" jdbcType="FLOAT" property="e3hwpZy0" />
    <result column="E3HWP_ZW0" jdbcType="FLOAT" property="e3hwpZw0" />
    <result column="E3HWP_Z0" jdbcType="FLOAT" property="e3hwpZ0" />
    <result column="FT101S" jdbcType="FLOAT" property="ft101s" />
    <result column="FT101Z" jdbcType="FLOAT" property="ft101z" />
    <result column="FT104S" jdbcType="FLOAT" property="ft104s" />
    <result column="FT104Z" jdbcType="FLOAT" property="ft104z" />
    <result column="FT110S" jdbcType="FLOAT" property="ft110s" />
    <result column="FT110Z" jdbcType="FLOAT" property="ft110z" />
    <result column="FT110D" jdbcType="FLOAT" property="ft110d" />
    <result column="FT102S" jdbcType="FLOAT" property="ft102s" />
    <result column="FT1O2Z" jdbcType="FLOAT" property="ft1o2z" />
    <result column="FT103" jdbcType="FLOAT" property="ft103" />
    <result column="FT103Z" jdbcType="FLOAT" property="ft103z" />
    <result column="FT109" jdbcType="FLOAT" property="ft109" />
    <result column="TI_1100" jdbcType="FLOAT" property="ti1100" />
    <result column="MARK" jdbcType="DECIMAL" property="mark" />
    <result column="STIME" jdbcType="TIMESTAMP" property="stime" />
    <result column="CYG_YW1" jdbcType="FLOAT" property="cygYw1" />
    <result column="CYG_JM1" jdbcType="FLOAT" property="cygJm1" />
    <result column="CYG_KR1" jdbcType="FLOAT" property="cygKr1" />
    <result column="CYG_YW2" jdbcType="FLOAT" property="cygYw2" />
    <result column="CYG_JM2" jdbcType="FLOAT" property="cygJm2" />
    <result column="CYG_KR2" jdbcType="FLOAT" property="cygKr2" />
    <result column="RQ_CKYL" jdbcType="FLOAT" property="rqCkyl" />
    <result column="RQ_LJDS" jdbcType="FLOAT" property="rqLjds" />
    <result column="RSB_BY1" jdbcType="FLOAT" property="rsbBy1" />
    <result column="RSB_BY2" jdbcType="FLOAT" property="rsbBy2" />
    <result column="RSB_BY3" jdbcType="FLOAT" property="rsbBy3" />
    <result column="HSG_WD" jdbcType="FLOAT" property="hsgWd" />
    <result column="CSHRQ_HGWD" jdbcType="FLOAT" property="cshrqHgwd" />
    <result column="WS_YL" jdbcType="FLOAT" property="wsYl" />
    <result column="WS_WD" jdbcType="FLOAT" property="wsWd" />
    <result column="WS_LLJ" jdbcType="FLOAT" property="wsLlj" />
  </resultMap>
</mapper>