<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.reportform.FunReportDataOwaterLoopMonthResMapper">
    <resultMap id="DataOwaterMonth1" type="server.db.primary.model.reportform.ReportDataOwaterLoop_Month1_Res">
        <result column="report_date" jdbcType="VARCHAR" property="date"/>
        <result column="b_1" jdbcType="VARCHAR" property="b_1"/>
        <result column="b_2" jdbcType="VARCHAR" property="b_2"/>
        <result column="c_1" jdbcType="VARCHAR" property="c_1"/>
        <result column="c_2" jdbcType="VARCHAR" property="c_2"/>
        <result column="d_1" jdbcType="VARCHAR" property="d_1"/>
        <result column="d_2" jdbcType="VARCHAR" property="d_2"/>
        <result column="e_1" jdbcType="VARCHAR" property="e_1"/>
        <result column="e_2" jdbcType="VARCHAR" property="e_2"/>
        <result column="f_1" jdbcType="VARCHAR" property="f_1"/>
        <result column="f_2" jdbcType="VARCHAR" property="f_2"/>
        <result column="g_1" jdbcType="VARCHAR" property="g_1"/>
        <result column="g_2" jdbcType="VARCHAR" property="g_2"/>
        <result column="h_1" jdbcType="VARCHAR" property="h_1"/>
        <result column="h_2" jdbcType="VARCHAR" property="h_2"/>
        <result column="i_1" jdbcType="VARCHAR" property="i_1"/>
        <result column="i_2" jdbcType="VARCHAR" property="i_2"/>
        <result column="j_1" jdbcType="VARCHAR" property="j_1"/>
        <result column="j_2" jdbcType="VARCHAR" property="j_2"/>
        <result column="k_1" jdbcType="VARCHAR" property="k_1"/>
        <result column="k_2" jdbcType="VARCHAR" property="k_2"/>
        <result column="m_1" jdbcType="VARCHAR" property="m_1"/>
        <result column="m_2" jdbcType="VARCHAR" property="m_2"/>
    </resultMap>
    <select id="selectReportDataOwaterMonth1" resultMap="DataOwaterMonth1">
        SELECT b.report_date,
               b_1,
               b_2,
               c_1,
               c_2,
               d_1,
               d_2,
               e_1,
               e_2,
               f_1,
               f_2,
               g_1,
               g_2,
               h_1,
               h_2,
               i_1,
               i_2,
               j_1,
               j_2,
               k_1,
               k_2,
               m_1,
               m_2
        FROM (select report_date from report_data_owater_loop where instr(report_date, #{searchDate}) > 0 group by report_date) a
                 LEFT JOIN (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS b_1, sum(liquid_val) as b_2 FROM report_data_owater_loop WHERE report_loop_name = '楚一联南环' GROUP BY report_date, report_loop_name) b ON a.report_date = b.report_date
                 LEFT JOIN (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS c_1, sum(liquid_val) AS c_2 FROM report_data_owater_loop WHERE report_loop_name = '楚一联东环' GROUP BY report_date, report_loop_name) c ON a.report_date = c.report_date
                 LEFT JOIN (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS d_1, sum(liquid_val) AS d_2 FROM report_data_owater_loop WHERE report_loop_name = '楚一联西环' GROUP BY report_date, report_loop_name) d ON a.report_date = d.report_date
                 LEFT JOIN (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS e_1, sum(liquid_val) AS e_2 FROM report_data_owater_loop WHERE report_loop_name = '28-1阀组西环' GROUP BY report_date, report_loop_name) e ON a.report_date = e.report_date
                 LEFT JOIN (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS f_1, sum(liquid_val) AS f_2 FROM report_data_owater_loop WHERE report_loop_name = '28-1阀组东环' GROUP BY report_date, report_loop_name) f ON a.report_date = f.report_date
                 LEFT JOIN (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS g_1, sum(liquid_val) AS g_2 FROM report_data_owater_loop WHERE report_loop_name = '28-1阀组南环' GROUP BY report_date, report_loop_name) g ON a.report_date = g.report_date
                 LEFT JOIN (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS h_1, sum(liquid_val) AS h_2 FROM report_data_owater_loop WHERE report_loop_name = '28-1阀组北环' GROUP BY report_date, report_loop_name) h ON a.report_date = h.report_date
                 LEFT JOIN (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS i_1, sum(liquid_val) AS i_2 FROM report_data_owater_loop WHERE report_loop_name = '102-1阀组西一环' GROUP BY report_date, report_loop_name) i ON a.report_date = i.report_date
                 LEFT JOIN (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS j_1, sum(liquid_val) AS j_2 FROM report_data_owater_loop WHERE report_loop_name = '102-1阀组西二环' GROUP BY report_date, report_loop_name) j ON a.report_date = j.report_date
                 LEFT JOIN (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS k_1, sum(liquid_val) AS k_2 FROM report_data_owater_loop WHERE report_loop_name = '102-1阀组南环' GROUP BY report_date, report_loop_name) k ON a.report_date = k.report_date
                 LEFT JOIN (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS m_1, sum(liquid_val) AS m_2 FROM report_data_owater_loop WHERE report_loop_name = '28-1阀组东环' GROUP BY report_date, report_loop_name) m ON a.report_date = m.report_date
        WHERE instr(b.report_date, #{searchDate}) > 0
        ORDER BY b.report_date
    </select>
    <resultMap id="DataOwaterMonth2" type="server.db.primary.model.reportform.ReportDataOwaterLoop_Month2_Res">
        <result column="report_date" jdbcType="VARCHAR" property="date"/>
        <result column="b_1" jdbcType="VARCHAR" property="b_1"/>
        <result column="b_2" jdbcType="VARCHAR" property="b_2"/>
        <result column="c_1" jdbcType="VARCHAR" property="c_1"/>
        <result column="c_2" jdbcType="VARCHAR" property="c_2"/>
        <result column="d_1" jdbcType="VARCHAR" property="d_1"/>
        <result column="d_2" jdbcType="VARCHAR" property="d_2"/>
        <result column="e_1" jdbcType="VARCHAR" property="e_1"/>
        <result column="e_2" jdbcType="VARCHAR" property="e_2"/>
        <result column="f_1" jdbcType="VARCHAR" property="f_1"/>
        <result column="f_2" jdbcType="VARCHAR" property="f_2"/>
        <result column="g_1" jdbcType="VARCHAR" property="g_1"/>
        <result column="g_2" jdbcType="VARCHAR" property="g_2"/>
        <result column="h_1" jdbcType="VARCHAR" property="h_1"/>
        <result column="h_2" jdbcType="VARCHAR" property="h_2"/>
        <result column="i_1" jdbcType="VARCHAR" property="i_1"/>
        <result column="i_2" jdbcType="VARCHAR" property="i_2"/>
        <result column="j_1" jdbcType="VARCHAR" property="j_1"/>
        <result column="j_2" jdbcType="VARCHAR" property="j_2"/>
        <result column="k_1" jdbcType="VARCHAR" property="k_1"/>
        <result column="k_2" jdbcType="VARCHAR" property="k_2"/>
    </resultMap>
    <select id="selectReportDataOwaterMonth2" resultMap="DataOwaterMonth2">
        SELECT b.report_date,
               b_1,
               b_2,
               c_1,
               c_2,
               d_1,
               d_2,
               e_1,
               e_2,
               f_1,
               f_2,
               g_1,
               g_2,
               h_1,
               h_2,
               i_1,
               i_2,
               j_1,
               j_2,
               k_1,
               k_2
        FROM (select report_date from report_data_owater_loop where instr(report_date, #{searchDate}) > 0 group by report_date) a
                 left join (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS b_1, sum(liquid_val) AS b_2 FROM report_data_owater_loop WHERE report_loop_name = '楚二站东环' GROUP BY report_date) b on a.report_date = b.report_date
                 left join (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS c_1, sum(liquid_val) AS c_2 FROM report_data_owater_loop WHERE report_loop_name = '楚二站西环北线' GROUP BY report_date) c ON a.report_date = c.report_date
                 left join (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS d_1, sum(liquid_val) AS d_2 FROM report_data_owater_loop WHERE report_loop_name = '楚二站西环南线' GROUP BY report_date) d ON a.report_date = d.report_date
                 left join (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS e_1, sum(liquid_val) AS e_2 FROM report_data_owater_loop WHERE report_loop_name = '楚二站南环北线' GROUP BY report_date) e ON a.report_date = e.report_date
                 left join (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS f_1, sum(liquid_val) AS f_2 FROM report_data_owater_loop WHERE report_loop_name = '楚二站南环西线' GROUP BY report_date) f ON a.report_date = f.report_date
                 left join (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS g_1, sum(liquid_val) AS g_2 FROM report_data_owater_loop WHERE report_loop_name = '楚二站南环东线' GROUP BY report_date) g ON a.report_date = g.report_date
                 left join (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS h_1, sum(liquid_val) AS h_2 FROM report_data_owater_loop WHERE report_loop_name = '楚29-2阀组西环' GROUP BY report_date) h ON a.report_date = h.report_date
                 left join (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS i_1, sum(liquid_val) AS i_2 FROM report_data_owater_loop WHERE report_loop_name = '楚29-2阀组北环' GROUP BY report_date) i ON a.report_date = i.report_date
                 left join (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS j_1, sum(liquid_val) AS j_2 FROM report_data_owater_loop WHERE report_loop_name = '楚29-2阀组东环' GROUP BY report_date) j ON a.report_date = j.report_date
                 left join (SELECT report_date, (max(flow_totle_out) - min(flow_totle_out)) AS k_1, sum(liquid_val) AS k_2 FROM report_data_owater_loop WHERE report_loop_name = '楚29-2阀组南环' GROUP BY report_date) k ON a.report_date = k.report_date
        WHERE instr(b.report_date, #{searchDate}) > 0
        ORDER BY b.report_date


    </select>
</mapper>