<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.sysoption.FunStationInfoValveMapper">
  <resultMap id="BaseResultMap" type="server.db.primary.model.sysoption.StationInfoValve">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="STATION_ID" jdbcType="DECIMAL" property="stationId" />
    <result column="STATION_NAME" jdbcType="VARCHAR" property="stationName" />
    <result column="VALVE_NAME" jdbcType="VARCHAR" property="valveName" />
    <result column="VALVE_NAME_NUM" jdbcType="DECIMAL" property="valveNameNum" />
    <result column="VALVE_POINT" jdbcType="VARCHAR" property="valvePoint" />
    <result column="VALVE_UNIT" jdbcType="VARCHAR" property="valveUnit" />
    <result column="AREA_ID" jdbcType="DECIMAL" property="areaId" />
    <result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="MARK" jdbcType="DECIMAL" property="mark" />
    <result column="STIME" jdbcType="TIMESTAMP" property="stime" />
  </resultMap>

</mapper>