<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.sysoption.FunWellStateManMapper">
  <resultMap id="BaseResultMap" type="server.db.primary.model.sysoption.WellStateMan">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="WELL_ID" jdbcType="DECIMAL" property="wellId" />
    <result column="WELL_NAME" jdbcType="VARCHAR" property="wellName" />
    <result column="AREA_ID" jdbcType="DECIMAL" property="areaId" />
    <result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
    <result column="STATION_ID" jdbcType="DECIMAL" property="stationId" />
    <result column="STATION_NAME" jdbcType="VARCHAR" property="stationName" />
    <result column="STATE_TYPE_ID" jdbcType="DECIMAL" property="stateTypeId" />
    <result column="STATE_TYPE" jdbcType="VARCHAR" property="stateType" />
    <result column="OP_LOGINNAME" jdbcType="VARCHAR" property="opLoginname" />
    <result column="OP_NAME" jdbcType="VARCHAR" property="opName" />
    <result column="OP_IPADDR" jdbcType="VARCHAR" property="opIpaddr" />
    <result column="OP_LOGINNAME0" jdbcType="VARCHAR" property="opLoginname0" />
    <result column="OP_NAME0" jdbcType="VARCHAR" property="opName0" />
    <result column="OP_IPADDR0" jdbcType="VARCHAR" property="opIpaddr0" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="MARK" jdbcType="DECIMAL" property="mark" />
    <result column="STIME" jdbcType="TIMESTAMP" property="stime" />
    <result column="ETIME" jdbcType="TIMESTAMP" property="etime" />
  </resultMap>

</mapper>