<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.sysoption.FunWellGtConfigMapper">
  <resultMap id="BaseResultMap" type="server.db.primary.model.sysoption.WellGtConfig">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="WELL_ID" jdbcType="DECIMAL" property="wellId" />
    <result column="WELL_NAME" jdbcType="VARCHAR" property="wellName" />
    <result column="WELL_NUM" jdbcType="DECIMAL" property="wellNum" />
    <result column="YYMD" jdbcType="DECIMAL" property="yymd" />
    <result column="SMD" jdbcType="DECIMAL" property="smd" />
    <result column="TRQXDMD" jdbcType="DECIMAL" property="trqxdmd" />
    <result column="YSRJQYB" jdbcType="DECIMAL" property="ysrjqyb" />
    <result column="BHYL" jdbcType="DECIMAL" property="bhyl" />
    <result column="DMTQYYND" jdbcType="DECIMAL" property="dmtqyynd" />
    <result column="YQCYL" jdbcType="DECIMAL" property="yqcyl" />
    <result column="YQCZBSD" jdbcType="DECIMAL" property="yqczbsd" />
    <result column="YQCZBWD" jdbcType="DECIMAL" property="yqczbwd" />
    <result column="JSGJ" jdbcType="VARCHAR" property="jsgj" />
    <result column="HSL" jdbcType="DECIMAL" property="hsl" />
    <result column="YY" jdbcType="DECIMAL" property="yy" />
    <result column="TY" jdbcType="DECIMAL" property="ty" />
    <result column="HY" jdbcType="DECIMAL" property="hy" />
    <result column="DYM" jdbcType="DECIMAL" property="dym" />
    <result column="BG" jdbcType="DECIMAL" property="bg" />
    <result column="JKLW" jdbcType="DECIMAL" property="jklw" />
    <result column="SCQYB" jdbcType="DECIMAL" property="scqyb" />
    <result column="BLX" jdbcType="DECIMAL" property="blx" />
    <result column="BJB" jdbcType="DECIMAL" property="bjb" />
    <result column="BJ" jdbcType="DECIMAL" property="bj" />
    <result column="ZSC" jdbcType="DECIMAL" property="zsc" />
    <result column="YGNJ" jdbcType="DECIMAL" property="ygnj" />
    <result column="YCTGNJ" jdbcType="DECIMAL" property="yctgnj" />
    <result column="ROD1_OS_DIAMETER" jdbcType="DECIMAL" property="rod1OsDiameter" />
    <result column="ROD1_GRADE" jdbcType="VARCHAR" property="rod1Grade" />
    <result column="ROD1_LENGTH" jdbcType="DECIMAL" property="rod1Length" />
    <result column="ROD2_OS_DIAMETER" jdbcType="DECIMAL" property="rod2OsDiameter" />
    <result column="ROD2_GRADE" jdbcType="VARCHAR" property="rod2Grade" />
    <result column="ROD2_LENGTH" jdbcType="DECIMAL" property="rod2Length" />
    <result column="ROD3_OS_DIAMETER" jdbcType="DECIMAL" property="rod3OsDiameter" />
    <result column="ROD3_GRADE" jdbcType="VARCHAR" property="rod3Grade" />
    <result column="ROD3_LENGTH" jdbcType="DECIMAL" property="rod3Length" />
    <result column="MDZT" jdbcType="DECIMAL" property="mdzt" />
    <result column="QMFLXL" jdbcType="DECIMAL" property="qmflxl" />
    <result column="CLXS" jdbcType="DECIMAL" property="clxs" />
    <result column="MARK" jdbcType="DECIMAL" property="mark" />
    <result column="STIME" jdbcType="TIMESTAMP" property="stime" />
    <result column="TEMP" jdbcType="DECIMAL" property="temp" />
    <result column="TEMP1" jdbcType="DECIMAL" property="temp1" />
    <result column="TEMP2" jdbcType="DECIMAL" property="temp2" />
    <result column="ROD1_TYPE" jdbcType="DECIMAL" property="rod1Type" />
    <result column="ROD2_TYPE" jdbcType="DECIMAL" property="rod2Type" />
    <result column="ROD3_TYPE" jdbcType="DECIMAL" property="rod3Type" />
    <result column="ROD4_TYPE" jdbcType="DECIMAL" property="rod4Type" />
    <result column="ROD4_GRADE" jdbcType="VARCHAR" property="rod4Grade" />
    <result column="ROD4_OS_DIAMETER" jdbcType="DECIMAL" property="rod4OsDiameter" />
    <result column="ROD4_LENGTH" jdbcType="DECIMAL" property="rod4Length" />
    <result column="AREA_ID" jdbcType="DECIMAL" property="areaId" />
    <result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
  </resultMap>
</mapper>