<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="server.db.primary.model.User">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <collection property="roleList" ofType="server.db.primary.model.Role">
            <id column="R_ID" jdbcType="DECIMAL" property="id"/>
            <result column="R_NAME" jdbcType="VARCHAR" property="name"/>
            <result column="R_ROLE" jdbcType="VARCHAR" property="role"/>
            <collection property="permissionList" ofType="server.db.primary.model.Permission">
                <id column="P_ID" jdbcType="DECIMAL" property="id"/>
                <result column="P_NAME" jdbcType="VARCHAR" property="name"/>
                <result column="P_PERMISSION" jdbcType="VARCHAR" property="permission"/>
            </collection>
        </collection>
    </resultMap>

    <select id="selectUserByUsername" resultMap="BaseResultMap">
    select
    "USER".ID,
    "USER".NAME,
    "USER".USERNAME,
    "USER".PASSWORD,
    ROLE.ID R_ID,
    ROLE.NAME R_NAME,
    ROLE.ROLE R_ROLE,
    PERMISSION.ID P_ID,
    PERMISSION.NAME P_NAME,
    PERMISSION.PERMISSION P_PERMISSION from
    (select * from "USER" where USERNAME=#{username}) "USER"
    left join USER_ROLE on "USER".ID=USER_ROLE.USER_ID
    left join ROLE on USER_ROLE.ROLE_ID=ROLE.ID
    left join ROLE_PERMISSION on ROLE.ID= ROLE_PERMISSION.ROLE_ID
    left join PERMISSION on ROLE_PERMISSION.PERMISSION_ID= PERMISSION.ID
  </select>
    <select id="selectUserById" resultMap="BaseResultMap">
    select
    "USER".ID,
    "USER".NAME,
    "USER".USERNAME,
    "USER".PASSWORD,
    ROLE.ID R_ID,
    ROLE.NAME R_NAME,
    ROLE.ROLE R_ROLE,
    PERMISSION.ID P_ID,
    PERMISSION.NAME P_NAME,
    PERMISSION.PERMISSION P_PERMISSION from
    (select * from "USER" where ID=#{id}) "USER"
    left join USER_ROLE on "USER".ID=USER_ROLE.USER_ID
    left join ROLE on USER_ROLE.ROLE_ID=ROLE.ID
    left join ROLE_PERMISSION on ROLE.ID= ROLE_PERMISSION.ROLE_ID
    left join PERMISSION on ROLE_PERMISSION.PERMISSION_ID= PERMISSION.ID
    </select>
</mapper>