<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <!-- Initialization for data source -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=Asia/Shanghai&amp;nullNamePatternMatchesAll=true&amp;useSSL=false&amp;autoReconnect=true&amp;characterEncoding=utf-8"/>
        <property name="username" value="root"/>
        <property name="password" value="1qazxsw2!"/>
    </bean>
    <!--配置jdbcTemplate-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>
    <!--编程式事务，实际事务回滚在java代码中实现-->
    <!--配置transactionManager-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--配置studentDAO，注入jdbcTemplate,transactionManager-->
    <bean id="studentDAO" class="com.example.demo7jdbc.StudentDAOImp">
        <constructor-arg ref="jdbcTemplate"/>
        <constructor-arg ref="transactionManager"/>
    </bean>

    <!--声明式事务，使用切面控制事务-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--实际要回滚的方法-->
            <tx:method name="create1"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="createOperation" expression="execution(* com.example.demo7jdbc.StudentDAOImp.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="createOperation"/>
    </aop:config>

</beans>