<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="textEditor" class="com.example.demo2di.TextEditor">
        <!--构造函数的参数，将另一个bean传入，完成依赖注入。值用value，对象用ref-->
        <constructor-arg ref="spellChecker"/>
        <!--当做属性的值，将另一个bean传入，完成依赖注入-->
        <property name="spellChecker" ref="spellChecker"/>
    </bean>
    <!--p-namespace写法，与上面作用相同。p:xxx 可替代property标签，有-ref后缀表明是 对象-->
    <bean id="textEditor1" class="com.example.demo2di.TextEditor"
          p:spellChecker-ref="spellChecker">
        <constructor-arg ref="spellChecker"/>
    </bean>
    <bean id="spellChecker" class="com.example.demo2di.SpellChecker"/>

    <bean id="textEditor2" class="com.example.demo2di.TextEditor">
        <constructor-arg>
            <bean class="com.example.demo2di.SpellChecker"/>
        </constructor-arg>
        <property name="spellChecker">
            <bean class="com.example.demo2di.SpellChecker"/>
        </property>
    </bean>

    <bean id="javaCollection" class="com.example.demo2di.JavaCollection">
        <!-- results in a setAddressList(java.util.List) call -->
        <property name="addressList">
            <list>
                <value>INDIA</value>
                <value>Pakistan</value>
                <!--空字符串-->
                <value/>
                <!--给集合注入对象-->
                <ref bean="address1"/>
            </list>
        </property>
        <!-- results in a setAddressSet(java.util.Set) call -->
        <property name="addressSet">
            <set>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
            </set>
        </property>
        <!-- results in a setAddressMap(java.util.Map) call -->
        <property name="addressMap">
            <map>
                <entry key="1" value="INDIA"/>
                <entry key="2" value="Pakistan"/>
                <entry key="3" value="USA"/>
                <entry key="4">
                    <null/>
                </entry>
                <entry key="5" value=""/>
            </map>
        </property>
        <!-- results in a setAddressProp(java.util.Properties) call -->
        <property name="addressProp">
            <props>
                <prop key="one">INDIA</prop>
                <prop key="two">Pakistan</prop>
                <prop key="three">USA</prop>
                <!--空字符串-->
                <prop key="four"/>
            </props>
        </property>
    </bean>

    <bean id="address1" class="com.example.demo2di.Address">
        <property name="address">
            <list>
                <value>addressA</value>
                <value>addressB</value>
            </list>
        </property>
    </bean>

</beans>